*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
/tmp/*
/log/*
tmp/
vendor/bundle/

public/assets
public/system/dragonfly/*

# YARD artifacts
.yardoc
_yardoc
doc/

config/database.yml
.DS_Store

# RubyMine project files
.idea


.zeus.sock

private_docs/

food_circles.esproj