<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<table width = '550px'>
  <tr>
  <td style="font-family:Arial; font-size: 14pt;  text-align: justify;">
  <p>We have for you a <strong>givesake</strong>.</p>

<p><strong>What's a "givesake"?</strong>  <i>A keepsake for those who give.</i>  You've earned it for going #bofo on your dining.</p>

<p>
<span style="font-size:16pt; font-weight:bold; color:4e3e34;"><%= @category %>:</span>
<br>
<span style="font-size:14pt;"><%= @title %></span>
</p>
<br>

<p>Simply <a href="https://docs.google.com/forms/d/19z1WjpJxAnw1eDrfS5dqfQ8dxU06HMrbwHkdvwULwvM/viewform">fill out an address form</a> or <strong>reply to this email</strong> and we'll snail-mail this <strong>givesake</strong> to you, free-of-charge <a href="http://f.cl.ly/items/2w3h3D0u3K3d3A2K341Z/see-some-samples.jpg">(see samples)</a>.  Your address will <strong>never</strong> be used for any other purpose and will <strong>never</strong> be shared (you can also use a work address or PO Box).</p>

<p>You took a first-world privilege to fight something that shouldn't exist in any-world.  We’d like to thank you.</p>

<p>--
<br>
FoodCircles Team
<br>
<a href="http://www.joinfoodcircles.org/timeline">See your timeline</a></p>
</td>
</tr>
</table>
</body>
</html>