<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<table width = '550px'>
  <tr>
  <td style="font-family:Arial; font-size: 12pt; text-align: justify;">
<p style="text-align: justify;">
  You did it. You signed up for FoodCircles. <b>But why?</b> ...<i>maybe you can relate to this situation.</i>
</p>
<br>
<p style="text-align: justify;">
  If you're like me, you love to dine out. But the thing is, I can’t ever decide on where to go.  "You pick."  "Hahaha, no, you pick."  Geez.....
</p>
<br>
<p style="text-align: justify;">There's also certain beliefs I have about the world. No one should go hungry, I’m fortunate to be in the position I’m in, and any kid should be able to choose to study or play <b>when they want to</b> -- not just when their stomach allows it.</p>
<br>
<p style="text-align: justify;">
  FoodCircles lets you buy an appetizer, drink, or dessert at top local restaurants for only <b>$1</b>, and directs <b>100% </b> of your purchase to get dinner to a child who needs it.<b> Buy one, feed one.</b><br><i>A simple way to know where to eat and feed a hungry child in the process.</i>
</p>
<br>
<% message = "Grab A $1 Dish Here →" %>
<p style="color: #004ab3; font-size:18pt; font-family: Arial;" ><b><%= link_to message, @url  %></b></p>
<br>
<p style="text-align: justify;">
  Buen provecho,<br>
  Jonathan<br>
  312 945 8627
</p>
<br>
<p style="text-align: justify;">
 <b> p.s.</b>  for a short time, we’re even paying the $1 for you, so it’s free.<b> As soon as we figure out payment processing on our site,</b> it won't be. :P   So hurry!
</p>
</td>
</tr>
</table>
</body>
</html>