<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<table width = '550px'>
  <tr>
  <td>
<p style="text-align: justify;">
  You did it. You signed up for FoodCircles.  <b>But why?</b> ...maybe you can relate to this situation.
</p>
<p style="text-align: justify;">
  If you're like me, you love to eat out. But the thing is, I can’t ever decide on where to eat.  "You pick."  "Hahaha, no, you pick."  Geez.....
</p>
<p style="text-align: justify;">There are also certain beliefs I have about the world. No one should go hungry, I’m fortunate to be in the position I’m in, and any kid should be able to choose to study or play when they want to -- not just when their stomach allows it.</p>
<p style="text-align: justify;">
  FoodCircles lets you buy appetizers, desserts, or drinks at a top local restaurant starting at $1, and directs <b>100% </b> of your purchase to get food to a child who needs it. Buy one, feed one. Simply put, it's an easy way to give back while doing something you're already doing.
</p>
<p style="color: #004ab3; font-size:30px ;" > <%= link_to "Grab Your First $1 Dish Here →", @url  %></p>
<p style="text-align: justify;">
  Buen provecho,<br>
  Jonathan<br>
  312 945 8627
</p>
<p style="text-align: justify;">
 <b> p.s.</b>  For a short time, we’re even paying the $1 for you, so it’s free.<b> As soon as we get payment processing working on our site,</b> it won't be. :P  So hurry!
</p>
</td>
</tr>
</table>
</body>
</html>