<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="background-color: #f2f2f2;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #f2f2f2;-webkit-text-size-adjust: none;margin: 0;padding: 0;width: 100%;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="padding-top: 30px;margin: 0;padding: 0;background-color: #f2f2f2;height: 100%;width: 100%;">
            	<tr>
                	<td align="center" valign="top" style="border-collapse: collapse;">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="margin-top: 30px;border: 0px solid #DDDDDD;background-color: #FFFFFF;">
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #4e3e34;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                                            
                                            	<!-- // Begin Module: Standard Header Image \ -->
                                            	<img src="http://gallery.mailchimp.com/ae083950237bb7c8e292ebda4/images/header.png" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="">
                                            	<!-- // End Module: Standard Header Image \ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="background-color: #fff;">
                                    	<tr>
                                            <td valign="top" class="bodyContent" style="color: #766a64;font-family: Arial;font-size: 16px;line-height: 150%;text-align: left;border-collapse: collapse;background-color: #FFFFFF;">
                                
                                                <!-- // Begin Module: Standard Content \ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                        	<img src="http://www.joinfoodcircles.org/email-templates/header-titles/report-ready.png" alt="Thank You." mc:edit="header-text" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline;"><br><br>
                                                            <div mc:edit="std_content00" style="color:#766a64; font-family:Arial; font-size:16px; line-height:150%; text-align:left;">
                                                               		
                                                                  Hey!<br><br>
                                                                    
                                                                  So as you probably heard, we're on hiatus to better evaluate how we're serving you restaurants and the hunger nonprofits. If you like, you can read more <a href="http://blog.joinfoodcircles.org/2016/01/25/on-foodcircles/" target="_blank">about why here</a>. Billing stops February-forward. You will not be billed for this month. Here's the impact we calculated last month.<br><br>
                                                                  
                                                                  <strong>Impact Summary:</strong><br>
                                                                  <%- Charity.all.each do |charity| %>
                                                                    <%- unless @calculations.total_purchases_by_charities[charity.id].nil? %>
                                                                    - <%= charity.msg_usefunds(@calculations.total_purchases_by_charities[charity.id].round) %> via <%= charity.name %> <br><br>
                                                                    <% end %>
                                                                  <% end %>
                                                                  - Your staff met <%= @calculations.payments.count %> groups of diners who visited to aid our community.
                                                                 <br><br><br>
                                                                  
                                                                  
                                                                  <a href="<%= invoice_url(vid: @calculations.venue.id, date: @calculations.link_date) %>">
                                                                  <img src="http://www.joinfoodcircles.org/email-button-monthly.png" width="560px" alt="View Report" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline;">
                                                                  </a>
                                                                  <br><br><br>

                                                                  <b>Previous Reports!</b> View any/all of the impact reports since you joined FoodCircles simply by clicking the button above, changing the month/year in the address bar, and hitting ENTER. 
                                                                  <br><br>
                                                                  You'll be the first to know when we've applied the lessons learned. Speak to you soon!
                                                                  


                                                            </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                    	<tr>
                                        	<td valign="top" class="footerContent" style="border-collapse: collapse;">
                                            
                                                <!-- // Begin Module: Standard Footer \ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    
                                                    <tr>
                                                        <td valign="top" width="350" style="border-collapse: collapse;">
                                                        <br>
                                                            <div mc:edit="std_footer" class="std_footer" style="color: #707070;font-weight: normal;padding-left: 10px;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
																Your friends,
																<br>
																<i>The FoodCircles Team</i> 
                                                            </div>
                                                        </td>
                                                        
                                                        <td valign="top" width="190" id="socialicons" style="border-collapse: collapse;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                                                                <a href="http://www.facebook.com/FoodCircles" style="color: #336699;font-weight: normal;text-decoration: underline;"><img border="0" src="http://gallery.mailchimp.com/ae083950237bb7c8e292ebda4/images/facebook.png" alt="Facebook" width="52" height="53" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline;max-width: 190px;float: right;"></a>
                                                                <a href="http://twitter.com/FoodCircles" style="color: #336699;font-weight: normal;text-decoration: underline;"><img border="0" src="http://gallery.mailchimp.com/ae083950237bb7c8e292ebda4/images/twitter.png" alt="Twitter" width="52" height="53" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;display: inline;max-width: 190px;float: right;"></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                
                                                

                                                </td></tr>	
                                                
                                                <!-- // End Module: Standard Footer \ -->
                                            
                                            </table></td>
                                        </tr>
                                        
                                    </table>
                                    <!-- // End Template Footer \ -->
                                    
                                    </td></tr>
                        </table>
                        <br>
        </center>
    </body>
</html>