<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p style="text-align: justify;">
    Hey there!
  </p>
  <p style="text-align: justify;">
    <%= link_to "Click here", invoice_url(vid: @calculations.venue.id, months_before: @calculations.months_before) %>
    to get our report on traffic at your restaurant during [REPORT'S MONTH].
  </p>
  <p style="text-align: justify;">
    Summary: <%= @calculations.human_readable_summary %>
    <br>
    – <b><%= @calculations.payments.count %></b> “Buy One, Feed One” tables came in
  </p>
  <p style="text-align: justify;">You can find corresponding group names, sizes, confirmation codes, and dates in the link above.</p>
  <p style="text-align: justify;"><i>
"#bofo" comes alive to guests when you make it real they're doing something 
special by eating at your restaurant. These guests aren't coming in based on a deal, but based on the 
fact that you share a belief with them – that <b>no one</b> should go to bed hungry. The little things 
you can do (table tents, conversation, etc) matter.</i>
  </p>
  <p style="text-align: justify;"><i>We'd love to hear how the movement is taking hold in your restaurant. Our promise is this: anything we can do to help you, your staff, or to promote the fact you <b>are</b> a "Buy One, Feed One" 
establishment, we will. Call us 24/7 at (616) 61-FOOD-6 or email us at support@joinfoodcircles.org.</i></p>
  <p style="text-align: justify;">
  – FoodCircles
  </p>
</body>
</html>
