<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p style="text-align: justify;">
  <%= @name %>
  </p>
  <p style="text-align: justify;">
  Limited "Buy One, Feed One" specials at <%= @restaurant_name %> are now available.  Click <%= link_to @restaurant_url, @restaurant_url %> to buy.  Your dining is and always will be powerful; do something simple, and yet truly extraordinary with it.
  </p>
  <p style="text-align: justify;">
  - The FoodCircles team
  </p>
  <p>Reply to this email directly to talk to us, or call 616 61-FOOD-6.</p>
</body>
</html>
