<% content_for(:title, "FoodCircles – For Organizers | Save Time, Money, and Feed Kids for Your Event") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
        <div class="placard-sidebar">
            <h3>Building meaningful, purposeful relationships</h3>
            <p class="hilitd">We're here to help your diners feel good, and most imporantly, do good just by trying out <strong id="sidebar_restaurant_name"></strong></p>
            <h5>Here's how it works again:</h5>
            <p><strong>You</strong> share you're a "Buy One, Feed One" establishment and pick a dish to donate.</p>
            <p><strong>Diners</strong> give $1 or greater for your dish online</p>
            <p><strong>We</strong> get 100% of purchases to charity, and report monthly on groups you met</p>
            <p class="hilitd">
                We'll send you debut materials to use once you sign up. Expect a <strong>4x-6x</strong> immediate return on your investment to becoming a <em>"Buy One, Feed One"</em> establisment.
            </p>
            <p>We start all restaurants out at $50/mo, which grows as your traffic grows. Cancel anytime.</p>
            <img src="" alt="Picture">
            <p>
                <img src="" alt="icon"> <strong>616 61-FOOD-6</strong><br>
                <img src="" alt="icon"> <strong>hey@joinfoodcircles.org</strong>
            </p>
        </div>
        <div class="placard alpha thin">

            <form id="signup">

                <h1>Tell Us About Yourself</h1>
                <p>Always feel free to give us a call too (616-61-FOOD-6) if you have questions or prefer to sign up that way. Our email is hey@foodcircles.org. If you're into snow, feel free to engage with us in person. Or visit the team page and get in touch directly. Come to an event like the Happy Hour Carol Tour and sing songs.</p>  

                <input type="text" name="name" class="field standart small-input" placeholder="Your Name">
                <input type="text" name="email" class="field standart small-input" placeholder="Your Email">
                <input type="text" name="restaurant_name" class="field standart input" placeholder="Your Restaurant's Name">
                <input type="text" name="restaurant_address" class="field standart input" placeholder="Your Restaurant's Address">
                <input type="text" name="restaurant_neighborhood" class="field standart shifted-input" placeholder="Your Restaurant's Neighborhood (if applicable)">
                <input type="text" name="website" class="field standart small-input" placeholder="Website">
                <input type="text" name="facebook" class="field standart small-input" placeholder="Facebook Link">
                <input type="text" name="twitter" class="field standart small-input" placeholder="Twitter Link">
                <input type="text" name="instagram" class="field standart small-input" placeholder="Instagram Link">
                <input type="text" name="social_contact" class="field standart small-input" placeholder="Social Media Contact">
                <label><input type="checkbox" name="social_contact_same"> Same as Above</label>

                <input type="text" name="pricing" class="field standart small-input" placeholder="Pricing ($-$$$$)">
                <input type="text" name="phone" class="field standart small-input" placeholder="Phone Number">
                <input type="text" name="first_dish" class="field standart input" placeholder="First Dish to Promote (typically appetizer or dessert">
                <input type="text" name="first_dish_price" class="field standart shifted-input" placeholder="Price on menu">
                <label>
                    <input type="file" name="">
                    Photo of Your First Dish (Optional)
                </label>
                <label>
                    <input type="file" name="">
                    Photo of Exterior or Interior (Optional)
                </label>

                <h1>Set Up Payment</h1>

                <input type="text" name="cc" class="field standart input" placeholder="Credit or Debit Card Number">

                <input type="text" name="exp" class="field standart small-input" placeholder="Expiry">
                <input type="text" name="cvc" class="field standart small-input" placeholder="CV Code">

                <p class="small">
                    * Your card will not be charged until you are live on site and app. Always feel free to give us a call too (616-61-FOOD-6) if you have questions or prefer to sign up that way.
                </p>

                <p class="small">
                    If you're into snow, feel free to engage with us in person. Or visit the team page and get in touch directly. Come to an event like the Happy Hour Carol Tour and sing songs.
                </p>

                <input type="submit" value="We're Ready" class="btn-large">

                <img src="" alt="Picture" style="margin:30px auto 0;display:block">

            </form>
                
            <div id="socialsharebuttonsorg">
            <br><br>
            <div class="fb-like" data-href="http://www.joinfoodcircles.org/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            
            <div class="clear"><br></div>
            
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.joinfoodcircles.org" data-via="FoodCircles" data-hashtags="BOFO">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            </div>
        </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script type="text/javascript">
    (function(){
    $('input[name="restaurant_name"]').on('change keyup', function(){
        $('#sidebar_restaurant_name').text($(this).val());
    });    
    })();
    </script>