<% content_for(:title, "FoodCircles – Restaurants | Let's Get You Started") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=148554958654775";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
        <div class="placard-sidebar">
            <h3>Build meaningful relationships</h3>
            <p class="hilitd">We're here to help your diners feel good, and most importantly, <em>do</em> good just by trying out <strong id="sidebar_restaurant_name"></strong></p>
            <h5>Here's how it works again:</h5>
            <br>
            <p><strong>1).</strong> You share you're a "Buy One, Feed One" establishment and pick a dish to donate.</p>
            <p><strong>2). </strong> Supporters from nonprofits give $1 or greater online for your dish.</p>
            <p><strong>3). </strong> 100% of purchases go straight to the need, and we report monthly on groups you met.</p>
            <p>This costs you $100/mo and we apply a 50% discount until we <strong>prove</strong> we can send you <strong>at least 8 groups</strong> per month. That's typically a 4x-6x return on your investment. Cancel anytime.</p>
            <img src="" alt="">
            <p>
                <img src="" alt=""> <strong>616 61-FOOD-6</strong><br>
                <img src="" alt=""> <strong><a href="mailto:hey@joinfoodcircles.org">hey@joinfoodcircles.org</a></strong>
            </p>
        </div>
        <div class="placard alpha thin">

            <form id="signup">

                <h1>Tell Us About Yourself…</h1>
                <p>Always feel free to give us a call too (616-61-FOOD-6) if you have questions or prefer to sign up that way. Our email is hey@joinfoodcircles.org.</p>  

                <input type="text" name="name" class="field standart small-input" placeholder="Your Name">
                <input type="text" name="email" class="field standart small-input" placeholder="Email">
                <input type="text" name="restaurant_name" class="field standart small-input" placeholder="Restaurant Name">
                <input type="text" name="phone" class="field standart small-input" placeholder="Restaurant Phone">
                <input type="text" name="restaurant_address" class="field standart input" placeholder="Restaurant Address">
                <input type="text" name="restaurant_neighborhood" class="field standart shifted-input" placeholder="Restaurant Neighborhood">
                <br>
                <input type="text" name="website" class="field standart small-input" placeholder="Website">
                <input type="text" name="facebook" class="field standart small-input" placeholder="Facebook">
                <input type="text" name="twitter" class="field standart small-input" placeholder="Twitter">
                <input type="text" name="instagram" class="field standart small-input" placeholder="Instagram">
                <input type="text" name="social_contact" class="field standart input" placeholder="Email of Social Mediaperson">
                <br>
                <input type="text" name="first_dish" class="field standart input" placeholder="First 'Buy One, Feed One' Dish">
                <input type="text" name="first_dish_price" class="field standart shifted-input" placeholder="Dish Menu Price">
                <label>
                    <input type="file" name="">
                    Dish Photo (Optional)
                </label>
                <label>
                    <input type="file" name="">
                    Interior/Exterior Photo (Optional)
                </label>
                <br>
                <h1>Set Up Payment</h1>

                <input type="text" name="cc" class="field standart input" placeholder="Credit or Debit Card Number">

                <input type="text" name="exp" class="field standart small-input" placeholder="Expiry">
                <input type="text" name="cvc" class="field standart small-input" placeholder="CV Code">
                <br>
                <p class="small">
                    * Your card will not be charged until you are live on site and app.
                </p>

                <input type="submit" value="Sign Us Up" class="btn-large">

                <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/heart.png" alt="Picture" style="margin:50px auto 0;display:block">

            </form>
            <div class="clear"><br></div>
            </div>
            </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script type="text/javascript">
    (function(){
    $('input[name="restaurant_name"]').on('change keyup', function(){
        $('#sidebar_restaurant_name').text($(this).val() || 'your restaurant');
    }).trigger('change');
    })();
    </script>