<% content_for(:title, "FoodCircles – Signup | End Hunger for More than Your Diners") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=526839707387980";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div class='restaurants-hero banner' id='hero'>
            <strong class="hero-title">Welcome supporters from your community nonprofits</strong>
            <video src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/diner%20postcard%20video.mp4" autoplay loop></video>
        </div>
        <div id='restaurants'>
            <div class='container'>
                <div class='intro'>
                    <div class='intro-btns'>
                        <a class='btn-standart' href="#">Sign Up</a>
                        <a class='btn-standart' href="#">Share With Team</a>
                    </div>
                    <h6>
                        Be a <strong>Buy one, feed one</strong> venue
                    </h6>
                </div>
                <div class="main-box">
                    <div class="desc">
                        <div>
                            <h4>Simply help charity</h4>
                            <p>Enable folks to grab a "sharable" for $1 or more online. <b>100%</b> of what they pay goes to charity. They then visit your venue to redeem, giving you the opportunity <strong>to build a meaningful relationship.</strong></p>
                        </div>
                    </div>
                    <blockquote>
                        When a restaurant believes in something I believe, it's <strong>attractive.</strong>
                    </blockquote>
                </div>
                <ul class="parts">
                    <li>
                        <h5>A Restaurant</h5>
                        <p>Identity menu items you have in surplus or have higher margins for the week.</p>
                    </li>
                    <li>
                        <h5>A Nonprofit</h5>
                        <p>Partner nonprofits announce your "Buy One, Feed One" dish to supporters, volunteers and donors.</p>
                    </li>
                    <li>
                        <h5>A Diner</h5>
                        <p>Prospective diners purchase your dish on our site or app and visit your venue with others to redeem.</p>
                    </li>
                </ul>
                <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/photos.jpg" alt="" class="photos">
                <div class="apps">
                    <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/apps.jpg" alt="" class="apps-heading">
                    <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/phone.jpg" alt="" class="apps-phone">
                    <div>
                        <h4>It makes dollars and sense</h4>
                        <p>Drive visibility among nonprofits supporters. Earn business from those working for and with local causes in your area. Find a typical month below for a FoodCircles restaurant in <em>Grand Rapids, MI</em>.</p>
                        <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/calc.jpg" alt="">
                        <a href="#" class="btn-large">Sign Up</a>
                    </div>
                    <blockquote>
                        The meals always <strong>taste better</strong> when I am able to use FoodCircles.
                    </blockquote>
                </div>
            </div>
            <div class="levels">
                <div class="container">
                    <h4>Do it for the dollars and the change</h4>
                    <p>There is a <strong>$100/month</strong> investiment to receive groups of diners at your restaurant from our nonprofit partners. All restaurants start at a trial level, with a <strong>50% discount</strong>, until we are able to send you a sufficient volume of diners per month (at least eight groups). At that point we bump you up to a regular membership, allowing you to <strong>add charities</strong> you want to support to the platform and to become a <strong>premium catering vendor</strong>.</p>
                    <p>Your launch materials are included when you join and feel free to cancel your partnership at anytime. You make your costs back within the first group or two each month, and <strong>aid dozens of local kids and families</strong> as a result.</p>
                    <a href="#" class="btn-large">Sign Up</a>
                </div>
            </div>
            <div class="call">
                <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/wallpeople.jpg" alt="">
                <div class='container'>
                    <div class="desc">
                        <h4>Low upkeep, high results</h4>
                        <p>Simply sign up and select a dish, and we'll mail you debut materials for your restaurant. We handle logistics of donations, you just <strong>meet the nonprofit supporters sent your way</strong>. We send you a monthly report on traffic received, and will reshare your relevant social media.</p>
                    </div>
                    <div class="actions">
                        <div>
                            <img src="" alt="">
                            <div class="action">
                                <a href="#" class="btn-large">Get Started</a>
                                <h4>Get started</h4>
                                <p>"I love the concept and want to start receiving diners"</p>
                            </div>
                        </div>
                        <div>
                            <img src="" alt="">
                            <div class="action">
                                <a href="#" class="btn-large">Share with Team</a>
                                <h4>Share with Team</h4>
                                <p>"Love the concept but need to run it by my partners"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='container'>
                <div class="thanks">
                    <h6>
                        thank you
                        <small>to all the restaurants who are in the community, including:</small>
                    </h6>
                    <ul>
                        <li><a href="#"><img src="" alt=""></a></li>
                        <li><a href="#"><img src="" alt=""></a></li>
                        <li><a href="#"><img src="" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        
    </div>
    
    <center><div class="fb-like" data-href="http://www.joinfoodcircles.org/restaurants" data-colorscheme="light" data-layout="standard" data-action="recommend" data-show-faces="true" style="text-align: center; margin: auto auto auto;"></div><div><a href="https://twitter.com/share" class="twitter-share-button" data-via="FoodCircles" data-related="FoodCircles,jkooms,sliceosaurusrex" data-hashtags="bofo">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div></center>
</div>
