$.colorbox.close();
$('#get_updates_link').remove();
$('body').append('<div class="stack-bar-top alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button><strong>You\'ve subscribed to our list</strong><br/>You\'ll soon receive an email to confirm your subscription.</div>');
setTimeout(function(){$('.alert .close').click();}, 10000);
