$('body').append('<div class="stack-bar-top alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button><strong>There was a problem</strong><br/>We could not subscribe you at this time, please try again later</div>');
setTimeout(function(){$('.alert .close').click();}, 10000);
