@font-face {
    font-family: 'NeutrafaceSlabTextLightItalic';
    src: url('neutrafaceslabtext-lightitalic.eot');
    src: url('neutrafaceslabtext-lightitalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-lightitalic.woff') format('woff'),
         url('neutrafaceslabtext-lightitalic.ttf') format('truetype'),
         url('neutrafaceslabtext-lightitalic.svg#NeutrafaceSlabTextLightItalic') format('svg');
}
