@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-light.eot');
    src: url('neutrafaceslabtext-light.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-light.woff') format('woff'),
         url('neutrafaceslabtext-light.ttf') format('truetype'),
         url('neutrafaceslabtext-light.svg#NeutrafaceSlabTextLight') format('svg');
         font-weight: 200;
         font-style: normal;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-book.eot');
    src: url('neutrafaceslabtext-book.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-book.woff') format('woff'),
         url('neutrafaceslabtext-book.ttf') format('truetype'),
         url('neutrafaceslabtext-book.svg#NeutrafaceSlabTextBook') format('svg');
         font-weight: 300;
         font-style: normal;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-demi.eot');
    src: url('neutrafaceslabtext-demi.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-demi.woff') format('woff'),
         url('neutrafaceslabtext-demi.ttf') format('truetype'),
         url('neutrafaceslabtext-demi.svg#NeutrafaceSlabTextDemi') format('svg');
         font-weight: 500;
         font-style: normal;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-bold.eot');
    src: url('neutrafaceslabtext-bold.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-bold.woff') format('woff'),
         url('neutrafaceslabtext-bold.ttf') format('truetype'),
         url('neutrafaceslabtext-bold.svg#NeutrafaceSlabTextBold') format('svg');
         font-weight:700;
         font-style: normal;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-lightitalic.eot');
    src: url('neutrafaceslabtext-lightitalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-lightitalic.woff') format('woff'),
         url('neutrafaceslabtext-lightitalic.ttf') format('truetype'),
         url('neutrafaceslabtext-lightitalic.svg#NeutrafaceSlabTextLightItalic') format('svg');
         font-weight:200;
         font-style: italic;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-bookitalic.eot');
    src: url('neutrafaceslabtext-bookitalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-bookitalic.woff') format('woff'),
         url('neutrafaceslabtext-bookitalic.ttf') format('truetype'),
         url('neutrafaceslabtext-bookitalic.svg#NeutrafaceSlabTextBookItalic') format('svg');
         font-weight:300;
         font-style: italic;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-demiitalic.eot');
    src: url('neutrafaceslabtext-demiitalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-demiitalic.woff') format('woff'),
         url('neutrafaceslabtext-demiitalic.ttf') format('truetype'),
         url('neutrafaceslabtext-demiitalic.svg#NeutrafaceSlabTextDemiItalic') format('svg');
         font-weight:500;
         font-style: italic;
}

@font-face {
    font-family: 'NeutrafaceSlab';
    src: url('neutrafaceslabtext-bolditalic.eot');
    src: url('neutrafaceslabtext-bolditalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-bolditalic.woff') format('woff'),
         url('neutrafaceslabtext-bolditalic.ttf') format('truetype'),
         url('neutrafaceslabtext-bolditalic.svg#NeutrafaceSlabTextBoldItalic') format('svg');
         font-weight:700;
         font-style: italic;
}
