@font-face {
    font-family: 'NeutrafaceSlabTextBoldItalic';
    src: url('neutrafaceslabtext-bolditalic.eot');
    src: url('neutrafaceslabtext-bolditalic.eot') format('embedded-opentype'),
         url('neutrafaceslabtext-bolditalic.woff') format('woff'),
         url('neutrafaceslabtext-bolditalic.ttf') format('truetype'),
         url('neutrafaceslabtext-bolditalic.svg#NeutrafaceSlabTextBoldItalic') format('svg');
}
