<div class="popup social-butterflies-confirm">
  <h1>Thank you for your request!</h1>
  <p>We will be contacting you shortly to get things started and distribute your custom url.</p>
  <p>Take a second to <%= link_to "browse our restaurants", root_path %> while you're here.</p>
</div>
