.footer
  %ul{class: "targets-nav"}
    %li
      %a{href: restaurants_path} For Restaurants
    %li
      %a{href: companies_path} For Companies
    %li
      %a{href: nonprofits_path} For Non-Profits
    %li
      %a{href: organizers_path} Event Organizers
    %li
      %a{href: students_path} For Students
    %li
      %a{href: butterflies_path} Social Butterfiles
