#footer{class: "#{controller_name}_footer"}
  %ul{class: "footer-nav"}
    %li
      %a{href: restaurants_path} For Restaurants
    %li
      \/
    %li
      %a{href: companies_path} For Companies
    %li
      \/
    %li
      %a{href: nonprofits_path} For Nonprofits
    %li
      \/
    %li
      %a{href: organizers_path} For Organizers
    %li
      \/
    %li
      %a{href: students_path} For Students
    %li
      \/
    %li
      %a{href: socialbutterflies_path} For Social Butterflies

  .footer-main
    .container
      .col
        .description
          %strong FoodCircles
          lets you try a local restaurant dish for $1 or greater. 100% of proceeds go to directly aid an individual in need.  
          %strong Contact us
          anytime at <a href="mailto:hey@joinfoodcircles.org">hey@joinfoodcircles.org</a>.
      .col
        .copyright
          &copy; 2015 FoodCircles, LLC
        .secured
          %i.icon-secure
          SECURE – PAYMENTS PROCESSED BY STRIPE
      .col
        %ul.quicklinks
          %li
            %a{href: "http://joinfoodcircles.org/pdf/PrivacyPolicy.pdf"} Privacy Policy
          %li
            %a{href: about_we_path} About We
          %li
            %a{href: faq_path} FAQ

      .footer-social
        %a{class: "icon-soc-foodcircles", href: "http://blog.joinfoodcircles.org"}
        %a{class: "icon-soc-facebook", href: "http://facebook.com/foodcircles"}
        %a{class: "icon-soc-twitter", href: "https://twitter.com/FoodCircles"}
        %a{class: "icon-soc-apple", href: "https://itunes.apple.com/us/app/foodcircles-for-iphone/id710592600"}
        %a{class: "icon-soc-android", href: "https://play.google.com/store/apps/details?id=co.foodcircles"}