#footer
  .container
    .nav
      %a{:href => "#"} For Restaurants
      |
      %a{:href => "#"} Catering
      |
      %a{:href => "#"} Jobs
    .copyright
      \© 2012 All Rights Reserved
    .quicklinks
      %a{:href => "#"} Donate Directly
      |
      %a{:href => "#"} Contact Us