.footer
  %ul{class: "targets-nav"}
    %li
      %a{href: "#"} For Restaurants
    %li
      %a{href: "#"} For Companies
    %li
      %a{href: "#"} For Non-Profits
    %li
      %a{href: "#"} Event Organizers
    %li
      %a{href: "#"} For Students
    %li
      %a{href: "#"} Social Butterfiles
