<div class="popup popup-print">
	<span class="print-slot"></span>
	<div class="print-page-holder">
		<div class="print-page">
			<div class="head">
				<span class="right">Thank You!</span>
				<span>Your FoodCircles Reciept</span>
			</div><!-- /.head -->
			<div class="body">
				<div class="col">
					<ul class="order-details">
						<li><i class="icon-barcode"></i> Your code is: <strong>4j2s3</strong></li>
						<li><i class="icon-item"></i> 1 appetizer &amp; 1 dessert</li>
						<li><i class="icon-kid-dark"></i> $2 donated (2 kids fed)</li>
					</ul><!-- /.order-details -->
					
					<div class="order-share">
						<h5>Share with friends</h5>
						<div class="socials">
							<a href="#" class="icon-facebook-mega"></a>
							<a href="#" class="icon-twitter-mega"></a>
							<a href="#" class="icon-mail-mega"></a>
						</div><!-- /.socials -->
					</div><!-- /.order-share -->
					
					<div class="order-how-to">
						<h5>How To Redeem</h5>
						<ul>
							<li>1. Purchase online</li>
							<li>2. Display receipt on arrival</li>
							<li>3. Enjoy with regular food purchase</li>
						</ul>
					</div><!-- /.order-how-to -->
				</div><!-- /.col -->
				<div class="col">
					<div class="restaurant-location">
						<h5>San Chez Bistro</h5>
						<img src="css/images/map.jpg" alt="" width="260" height="160" />
						<p><strong>616.123.1234</strong> 38 Fulton St W, Grand Rapids, MI</p>
					</div><!-- /.restaurant-location -->
					
					<div class="order-status">
						We’ve also emailed it to you, so you won’t lose it. Happy to <a href="popups/text_popup.html.erb" class="popup-link">text a copy</a> to any cellphone too! <strong>Good for the next 30 days.</strong>
					</div><!-- /.order-status -->
				</div><!-- /.col -->
			</div><!-- /.body -->
		</div><!-- /.print-page -->
	</div><!-- /.print-page-holder -->
	
	<a href="#" class="btn-standart large-font view-account-btn">View Account</a>
</div><!-- /.popup popup-print -->