<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Food Circles</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
	<script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="js/jquery.infinitescroll.min.js" type="text/javascript"></script>
	<script src="js/functions.js" type="text/javascript"></script>
	<script>
		var _e = document.getElementsByTagName('html')[0];
		_e.className = _e.className.replace(/no-js/, '');
	</script>
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
	<![endif]-->
	<!-- 
	<script type="text/javascript" src="//use.typekit.net/mqt8ffa.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	 -->
</head>
<body>

<div id="header">
	<div class="container">
		<a href="#" id="logo">FoodCircles - Buy One, Feed One</a>
		<h3 class="tagline">Buy One, Feed One.</h3><!-- /.tagline -->
		<div class="header-utils">
			<ul id="social">
				<li><a href="#" class="icon-soc-facebook">Facebook</a></li>
				<li><a href="#" class="icon-soc-twitter">Twitter</a></li>
				<li><a href="#" class="icon-soc-foodcircles">FoodCircles</a></li>
			</ul>
			
			<div class="welcome-line">
				Welcome Back! <a href="#">Your Account <i class="arrow-right"></i></a>
				<form action="" method="post" class="sign-form">
					<i class="arrow-up"><i class="arrow-up"></i></i>
					<div class="row">
						<a href="#" class="btn-facebook">Sign up <i class="icon-btn-facebook"></i></a>
						<input type="text" class="field medium" value="new email address" title="new email address" />
					</div>
					<div class="row">
						<a href="#" class="btn-twitter">Sign up <i class="icon-btn-twitter"></i></a>
						<input type="text" class="field medium" value="new password" title="new password" />
					</div>
					<div class="form-foot">
						<span class="btn-small submit">Sign up<input type="submit" value="" /></span>
						<p class="form-caption">Have an account? <a href="#">Sign in</a></p><!-- /.form-caption -->
					</div><!-- /.form-foot -->
				</form><!-- /.sign-form -->
			</div><!-- /.welcome-line -->
			
		</div><!-- /.header-utils -->
		<div id="nav">
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About Us</a></li>
				<li>
					<a href="#">For Restaurants &#9662;</a>
					<ul>
						<li><a href="#">For Restaurants</a></li>
						<li><a href="#">For Students</a></li>
						<li><a href="#">For Events</a></li>
						<li><a href="#">For Companies</a></li>
						<li><a href="#">For Non-Profits</a></li>
						<li><a href="#">Social Butterflies</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /#nav -->
	</div><!-- /.container -->
</div><!-- /#header -->

<div class="mini-header">
	<div class="mh-main">
		<div class="container">
			<a class="logo" href="#">FoodCircles</a>
			<div class="donation-count">
				<strong>493</strong>
				meals donated to date
			</div><!-- /.donation-count -->
			<div class="account"><a href="#">My Account <i class="arrow-right white"></i></a></div><!-- /.account -->
			<ul class="nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About Us</a></li>
				<li>
					<a href="#">Get Involved <i class="arrow-down white"></i></a>
					<ul>
						<li><a href="#">For Restaurants</a></li>
						<li><a href="#">For Students</a></li>
						<li><a href="#">For Events</a></li>
						<li><a href="#">For Companies</a></li>
						<li><a href="#">For Non-Profits</a></li>
						<li><a href="#">Social Butterflies</a></li>
					</ul>
				</li>
			</ul><!-- /.nav -->
		</div><!-- /.container -->
	</div><!-- /.mh-main -->
	<div class="mh-sub">
		<div class="container">
			<div class="current-goal">
				<div class="current">
					<strong>37</strong>
					<small>meals</small>
				</div><!-- /.current -->
				<div class="progress">
					<span class="goal">this weeks goal</span>
					<span class="total">255</span>
					<em class="bar" style="width:74%"></em>
				</div><!-- /.progress -->
			</div><!-- /.current-goal -->
			<p class="getapp">Arm yourself for the streets. <a href="#">Get the App</a></p>
		</div><!-- /.container -->
	</div><!-- /.mh-sub -->
</div><!-- /.mini-header -->

<div id="hero" class="banner">
	<div class="cnt">
		<div class="centerer">
			<div class="centerer-inner">
				<h3>Earth, Fire, Wind, Water, Heart.</h3>
				<p>By our powers combined,<br />I am captain planet.</p>
			</div><!-- /.centerer-inner -->
		</div><!-- /.centerer -->
	</div><!-- /.cnt -->
	<ul class="slides">
		<li>
			<img src="css/images/slide-01.jpg" alt="" width="1280" height="360" />
		</li>
		<li>
			<img src="css/images/slide-02.jpg" alt="" width="1280" height="360" />
		</li>
		<li>
			<img src="css/images/slide-03.jpg" alt="" width="1280" height="360" />
		</li>
		<li>
			<img src="css/images/slide-04.jpg" alt="" width="1280" height="360" />
		</li>
	</ul><!-- /.slides -->

	<a href="#" class="slide-prev icon-arrow-prev"></a>
	<a href="#" class="slide-next icon-arrow-next"></a>

	<div class="paging"></div><!-- /.paging -->

	<div class="donation-progress">
		<div class="bar" style="width:74%">
			<span class="text">
				<strong><span>37 <em>of</em></span> 50 meals</strong> donated this week
			</span>
		</div><!-- /.bar -->
	</div><!-- /.donation-progress -->
</div><!-- /#hero -->

<div id="home">
	<div class="container">
		<div class="products">
			<div class="products-head">				
				<a href="#" class="btn-standart right">Get the app</a>
				<div class="subscribe">
					<form action="">
						<label>Get updates</label>
						<input type="text" name="" placeholder="you@email.com" class="field tall">
						<span class="btn-arrow submit">
							<i class="arrow-right"></i>
							<input type="submit" value="">
						</span>
					</form>
				</div><!-- /.subscribe -->
				
				<div class="filters">
					<div class="filter category">
						<h5>Category: <a href="#">All <i class="arrow-down"></i></a></h5>
						<div class="dropdown">
							<i class="arrow-up"><i class="arrow-up"></i></i>
							<p class="all-results"><a href="#">All Results <i class="arrow-right"></i></a></p>
							<div class="col">
								<h4>Experience</h4>
								<ul>
									<li>
										<input type="checkbox" checked="checked" name="italian" value="italian" id="italian" />
										<label for="italian">Italian <em>(5)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="american" value="american" id="american" />
										<label for="american">American <em>(7)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="cafe" value="cafe" id="cafe" />
										<label for="cafe">Cafe <em>(2)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="hotdog" value="hotdog" id="hotdog" />
										<label for="hotdog">Hotdog <em>(6)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="pizza" value="pizza" id="pizza" />
										<label for="pizza">Pizza <em>(4)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="sandwich" value="sandwich" id="sandwich" />
										<label for="sandwich">Sandwich <em>(6)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="burger" value="burger" id="burger" />
										<label for="burger">Burger <em>(3)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="bar" value="bar" id="bar" />
										<label for="bar">Bar <em>(7)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="chinese" value="chinese" id="chinese" />
										<label for="chinese">Chinese <em>(1)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="sushi" value="sushi" id="sushi" />
										<label for="sushi">Sushi <em>(1)</em></label>
									</li>
								</ul>
							</div><!-- /.col -->
							<div class="col">
								<h4>Cuisine</h4>
								<ul>
									<li>
										<input type="checkbox" checked="checked" name="italian" value="italian" id="italian1" />
										<label for="italian1">Italian <em>(5)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="american" value="american" id="american1" />
										<label for="american1">American <em>(7)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="cafe" value="cafe" id="cafe1" />
										<label for="cafe1">Cafe <em>(2)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="hotdog" value="hotdog" id="hotdog1" />
										<label for="hotdog1">Hotdog <em>(6)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="pizza" value="pizza" id="pizza1" />
										<label for="pizza1">Pizza <em>(4)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="sandwich" value="sandwich" id="sandwich1" />
										<label for="sandwich1">Sandwich <em>(6)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="burger" value="burger" id="burger1" />
										<label for="burger1">Burger <em>(3)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="bar" value="bar" id="bar1" />
										<label for="bar1">Bar <em>(7)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="chinese" value="chinese" id="chinese1" />
										<label for="chinese1">Chinese <em>(1)</em></label>
									</li>
									<li>
										<input type="checkbox" checked="checked" name="sushi" value="sushi" id="sushi1" />
										<label for="sushi1">Sushi <em>(1)</em></label>
									</li>
								</ul>
							</div><!-- /.col -->
							<div class="dropdown-foot">
								<a href="#" class="cancel">Cancel</a>
								<a href="#" class="btn-mini filter-btn">Filter</a>
							</div><!-- /.dropdown-foot -->
						</div><!-- /.dropdown -->
					</div>
					<div class="filter locaction">
						<h5>Location: <a href="#">GR <i class="arrow-down"></i></a></h5>
						<div class="dropdown">
							<i class="arrow-up"><i class="arrow-up"></i></i>
						</div><!-- /.dropdown -->
					</div>
					<form action="" method="post" class="search">
						<a href="#" class="search-btn icon-magnifier"></a>
						<div class="field-holder ui-front">
							<input type="text" class="field" placeholder="Sarch restaurants" />
							<a href="#" class="acomplete-lnk">Want a <strong>restaurant</strong> added?</a>
						</div><!-- /.field-holder -->
					</form>
				</div><!-- /.filters -->
				<h6>dinner plans in 60 seconds</h6>
				<i class="arrow-down"><i class="arrow-down"></i></i>
			</div><!-- /.products-head -->
			<div class="products-tiles">
				<div class="tile blue italian" data-city="chicago">
					<h3>Georgio's Pizza</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:50%">
								<span class="block">
									<strong>5</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$7 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/brownies.jpg" alt="" width="253" height="163" />
							<span class="title">brownies</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile green american" data-city="chicago">
					<h3>Stella's Lounge</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:100%">
								<span class="block">
									<strong>20</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/crack-fries.jpg" alt="" width="253" height="163" />
							<span class="title">Crack fries</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile pink hotdog" data-city="chicago">
					<h3>Two Beard's Deli</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:25%">
								<span class="block">
									<strong>3</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/fountain-drinks.jpg" alt="" width="253" height="163" />
							<span class="title">Fountain Drinks</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile blue cafe sold-out" data-city="chicago">
					<h3>Georgio's Pizza</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:0">
								<span class="block">
									<span class="overlay"></span>
									<small>Notify me</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$7 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/brownies.jpg" alt="" width="253" height="163" />
							<span class="overlay"></span>
							<span class="title">SOLD OUT</span>
							<span class="notify-text">
								Availability Notification scheduled
							</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile green pizza" data-city="chicago">
					<h3>Stella's Lounge</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:100%">
								<span class="block">
									<strong>20</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/crack-fries.jpg" alt="" width="253" height="163" />
							<span class="title">Crack fries</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile pink sandwich" data-city="chicago">
					<h3>Two Beard's Deli</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:25%">
								<span class="block">
									<strong>3</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/fountain-drinks.jpg" alt="" width="253" height="163" />
							<span class="title">Fountain Drinks</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile blue burger" data-city="chicago">
					<h3>Georgio's Pizza</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:50%">
								<span class="block">
									<strong>5</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$7 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/brownies.jpg" alt="" width="253" height="163" />
							<span class="title">brownies</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile green bar" data-city="chicago">
					<h3>Stella's Lounge</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:100%">
								<span class="block">
									<strong>20</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/crack-fries.jpg" alt="" width="253" height="163" />
							<span class="title">Crack fries</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
				<div class="tile pink chinese" data-city="chicago">
					<h3>Two Beard's Deli</h3>
					<div class="thumb">
						<div class="progress">
							<span class="pbar" style="height:25%">
								<span class="block">
									<strong>3</strong>
									<small>left</small>
								</span>
							</span>
						</div><!-- /.progress -->
						<a href="#">
							<span class="price">
								<strong>$1</strong>
								<span class="old">$4 <i class="icon-strike strike"></i></span>
							</span>
							<span class="shadow"></span>
							<img src="css/images/fountain-drinks.jpg" alt="" width="253" height="163" />
							<span class="title">Fountain Drinks</span>
						</a>
					</div><!-- /.thumb -->
					<div class="tags">
						tags: <a href="#">open late</a>,
						<a href="#">easy in easy out</a>,
						<a href="#">cheap</a>,
						<a href="#">close to you</a>
					</div><!-- /.tags -->
				</div><!-- /.tile -->
			</div><!-- /.products-tiles -->
			<span class="tiles-nav">
				<a href="ajax/tiles-02.html" class="next-page"></a>				
			</span>
		</div><!-- /.products -->
	</div>
</div>

<div id="footer">
	<div class="container">
		<div class="nav">
			<a href="#">For Restaurants</a> |
			<a href="#">Catering</a> |
			<a href="#">Jobs</a>
		</div>
		<div class="copyright">
			&copy; 2012 All Rights Reserved
		</div>
		<div class="quicklinks">
			<a href="#">Donate Directly</a> | <a href="#">Contact Us</a>
		</div>
	</div>
</div>
	
</body>
</html>
