
<!--#include virtual="ssi-head.shtml"  -->
<body>
	<div id="wrapper">
		<div id="header">
			<div class="container">
				<a href="#" id="logo">FoodCircles - Buy One, Feed One</a>
				<h3 class="tagline">Buy One, Feed One.</h3><!-- /.tagline -->
				<div class="header-utils">
					<ul id="social">
						<li><a href="#" class="icon-soc-facebook">Facebook</a></li>
						<li><a href="#" class="icon-soc-twitter">Twitter</a></li>
						<li><a href="#" class="icon-soc-foodcircles">FoodCircles</a></li>
					</ul>
					
					<div class="welcome-line">
						Welcome Back! <a href="#">Your Account <i class="arrow-right"></i></a>
						<form action="" method="post" class="sign-form" id="sign-up-form">
							<i class="arrow-up"><i class="arrow-up"></i></i>
							<div class="row">
								<a href="#" class="btn-facebook">Sign up <i class="icon-btn-facebook"></i></a>
								<input type="text" class="field medium" placeholder="new email address" />
							</div>
							<div class="row">
								<a href="#" class="btn-twitter">Sign up <i class="icon-btn-twitter"></i></a>
								<input type="text" class="field medium" placeholder="new password" />
							</div>
							<div class="form-foot">
								<span class="btn-small submit">Sign up<input type="submit" value="" /></span>
								<p class="form-caption">Have an account? <a href="#">Sign in</a></p><!-- /.form-caption -->
							</div><!-- /.form-foot -->
						</form><!-- /.sign-form -->
						<form action="" method="post" class="sign-form" id="sign-in-form">
							<i class="arrow-up"><i class="arrow-up"></i></i>
							<div class="row">
								<a href="#" class="btn-facebook">Sign in <i class="icon-btn-facebook"></i></a>
								<input type="text" class="field medium" placeholder="your email address" />
							</div>
							<div class="row">
								<a href="#" class="btn-twitter">Sign in <i class="icon-btn-twitter"></i></a>
								<input type="text" class="field medium" placeholder="your password" />
							</div>
							<div class="form-foot">
								<span class="btn-small submit">Sign in<input type="submit" value="" /></span>
								<p class="form-caption"><a href="#">Forgot your password?</a></p><!-- /.form-caption -->
							</div><!-- /.form-foot -->
						</form><!-- /.sign-form -->
					</div><!-- /.welcome-line -->
					
				</div><!-- /.header-utils -->
				<div id="nav">
					<ul>
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">About Us</a></li>
						<li>
							<a href="#">For Restaurants &#9662;</a>
							<ul>
								<li><a href="#">For Restaurants</a></li>
								<li><a href="#">For Students</a></li>
								<li><a href="#">For Events</a></li>
								<li><a href="#">For Companies</a></li>
								<li><a href="#">For Non-Profits</a></li>
								<li><a href="#">For Social Butterflies</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /#nav -->
			</div><!-- /.container -->
		</div><!-- /#header -->

		<div class="mini-header">
			<div class="mh-main">
				<div class="container">
					<a class="logo" href="#">FoodCircles</a>
					<div class="donation-count">
						<strong><%= @total_payments %></strong>
						meals donated to date
					</div><!-- /.donation-count -->
					<div class="account"><a href="#">My Account <i class="arrow-right white"></i></a></div><!-- /.account -->
					<ul class="nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">About Us</a></li>
						<li>
							<a href="#">Get Involved <i class="arrow-down white"></i></a>
							<ul>
								<li><a href="#">For Restaurants</a></li>
								<li><a href="#">For Students</a></li>
								<li><a href="#">For Events</a></li>
								<li><a href="#">For Companies</a></li>
								<li><a href="#">For Non-Profits</a></li>
								<li><a href="#">Social Butterflies</a></li>
							</ul>
						</li>
					</ul><!-- /.nav -->
				</div><!-- /.container -->
			</div><!-- /.mh-main -->
			<div class="mh-sub">
				<div class="container">
					<div class="current-goal">
						<div class="current">
							<strong><%= @total_week_payments %></strong>
							<small>meals</small>
						</div><!-- /.current -->
						<div class="progress">
							<span class="goal">this weeks goal</span>
							<span class="total"><%= @weekly_meal_goal %></span>
							<em class="bar" style="width:74%"></em>
						</div><!-- /.progress -->
					</div><!-- /.current-goal -->
					<p class="getapp">Arm yourself for the streets. <a href="ajax/app-popup.html" class="popup-link">Get the App</a></p>
				</div><!-- /.container -->
			</div><!-- /.mh-sub -->
		</div><!-- /.mini-header -->

		<div id="hero" class="banner">
			<div class="cnt">
				<div class="centerer">
					<div class="centerer-inner">
						<h3>Earth, Fire, Wind, Water, Heart.</h3>
						<p>By our powers combined,<br />I am captain planet.</p>
					</div><!-- /.centerer-inner -->
				</div><!-- /.centerer -->
			</div><!-- /.cnt -->
			<ul class="slides">
				<li>
					<a href="#">
						<img src="css/images/slide-01.jpg" alt="" width="1280" height="360" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="css/images/slide-02.jpg" alt="" width="1280" height="360" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="css/images/slide-03.jpg" alt="" width="1280" height="360" />
					</a>
				</li>
				<li>
					<a href="#">
						<img src="css/images/slide-04.jpg" alt="" width="1280" height="360" />
					</a>
				</li>
			</ul><!-- /.slides -->

			<a href="#" class="slide-prev icon-arrow-prev"></a>
			<a href="#" class="slide-next icon-arrow-next"></a>

			<div class="paging"></div><!-- /.paging -->

			<div class="donation-progress">
				<div class="bar" style="width:74%">
					<span class="text">
						<strong><span>37 <em>of</em></span> 50 meals</strong> donated this week
					</span>
				</div><!-- /.bar -->
			</div><!-- /.donation-progress -->
		</div><!-- /#hero -->

		<div id="home">
			<div class="container">
				<div class="products">
					<div class="products-head">
						
						<div class="head-btns">
							<a href="ajax/app-popup.html" class="btn-standart popup-link">Get the app</a>
							<a href="ajax/subscribe.html" class="btn-standart popup-link">Get updates</a>
						</div><!-- /.head-btns -->
						
						<div class="filters">
							<form action="" method="post" class="search">
								<a href="#" class="search-btn icon-magnifier"></a>
								<div class="field-holder ui-front">
									<input type="text" class="field" placeholder="Sarch restaurants" />
									<a href="#" class="acomplete-lnk">Want a <strong>restaurant</strong> added?</a>
								</div><!-- /.field-holder -->
							</form>
							<div class="filter location">
								<h5>Location: <a href="#">GR <i class="arrow-down"></i></a></h5>
								<div class="dropdown">
									<i class="arrow-up"><i class="arrow-up"></i></i>
									<p class="all-results"><a href="#">All Results <i class="arrow-right"></i></a></p>
									<div class="col">
										<ul>
											<li>
												<input type="checkbox" name="chicago" value="chicago" id="chicago" />
												<label for="chicago">Chicago <em>(5)</em></label>
											</li>
											<li>
												<input type="checkbox" name="seattle" value="seattle" id="seattle" />
												<label for="seattle">Seattle <em>(7)</em></label>
											</li>
											<li>
												<input type="checkbox" name="lansing" value="lansing" id="lansing" />
												<label for="lansing">Lansing <em>(2)</em></label>
											</li>
										</ul>
									</div><!-- /.col -->
									<div class="col">
										<ul>
											<li>
												<input type="checkbox" name="detroit" value="detroit" id="detroit" />
												<label for="detroit">Detroit <em>(5)</em></label>
											</li>
											<li>
												<input type="checkbox" name="denver" value="denver" id="denver" />
												<label for="denver">Denver <em>(7)</em></label>
											</li>
										</ul>
									</div><!-- /.col -->
									<div class="dropdown-foot">
										<a href="#" class="left">Want to Add a City?</a>
										<a href="#" class="clear-all">Clear All</a>
										<a href="#" class="cancel">Cancel</a>
										<a href="#" class="btn-mini filter-btn">Filter</a>
									</div><!-- /.dropdown-foot -->
								</div><!-- /.dropdown -->
							</div>
							<div class="filter category">
								<h5>Category: <a href="#">All <i class="arrow-down"></i></a></h5>
								<div class="dropdown">
									<i class="arrow-up"><i class="arrow-up"></i></i>
									<p class="all-results"><a href="#">All Results <i class="arrow-right"></i></a></p>
									<div class="col">
										<h4>Experience</h4>
										<ul>
											<li>
												<input type="checkbox" name="italian" value="italian" id="italian" />
												<label for="italian">Italian <em>(5)</em></label>
											</li>
											<li>
												<input type="checkbox" name="american" value="american" id="american" />
												<label for="american">American <em>(7)</em></label>
											</li>
											<li>
												<input type="checkbox" name="cafe" value="cafe" id="cafe" />
												<label for="cafe">Cafe <em>(2)</em></label>
											</li>
											<li>
												<input type="checkbox" name="hotdog" value="hotdog" id="hotdog" />
												<label for="hotdog">Hotdog <em>(6)</em></label>
											</li>
											<li>
												<input type="checkbox" name="pizza" value="pizza" id="pizza" />
												<label for="pizza">Pizza <em>(4)</em></label>
											</li>
											<li>
												<input type="checkbox" name="sandwich" value="sandwich" id="sandwich" />
												<label for="sandwich">Sandwich <em>(6)</em></label>
											</li>
											<li>
												<input type="checkbox" name="burger" value="burger" id="burger" />
												<label for="burger">Burger <em>(3)</em></label>
											</li>
											<li>
												<input type="checkbox" name="bar" value="bar" id="bar" />
												<label for="bar">Bar <em>(7)</em></label>
											</li>
											<li>
												<input type="checkbox" name="chinese" value="chinese" id="chinese" />
												<label for="chinese">Chinese <em>(1)</em></label>
											</li>
											<li>
												<input type="checkbox" name="sushi" value="sushi" id="sushi" />
												<label for="sushi">Sushi <em>(1)</em></label>
											</li>
										</ul>
									</div><!-- /.col -->
									<div class="col">
										<h4>Cuisine</h4>
										<ul>
											<li>
												<input type="checkbox" name="italian" value="italian" id="italian1" />
												<label for="italian1">Italian <em>(5)</em></label>
											</li>
											<li>
												<input type="checkbox" name="american" value="american" id="american1" />
												<label for="american1">American <em>(7)</em></label>
											</li>
											<li>
												<input type="checkbox" name="cafe" value="cafe" id="cafe1" />
												<label for="cafe1">Cafe <em>(2)</em></label>
											</li>
											<li>
												<input type="checkbox" name="hotdog" value="hotdog" id="hotdog1" />
												<label for="hotdog1">Hotdog <em>(6)</em></label>
											</li>
											<li>
												<input type="checkbox" name="pizza" value="pizza" id="pizza1" />
												<label for="pizza1">Pizza <em>(4)</em></label>
											</li>
											<li>
												<input type="checkbox" name="sandwich" value="sandwich" id="sandwich1" />
												<label for="sandwich1">Sandwich <em>(6)</em></label>
											</li>
											<li>
												<input type="checkbox" name="burger" value="burger" id="burger1" />
												<label for="burger1">Burger <em>(3)</em></label>
											</li>
											<li>
												<input type="checkbox" name="bar" value="bar" id="bar1" />
												<label for="bar1">Bar <em>(7)</em></label>
											</li>
											<li>
												<input type="checkbox" name="chinese" value="chinese" id="chinese1" />
												<label for="chinese1">Chinese <em>(1)</em></label>
											</li>
											<li>
												<input type="checkbox" name="sushi" value="sushi" id="sushi1" />
												<label for="sushi1">Sushi <em>(1)</em></label>
											</li>
										</ul>
									</div><!-- /.col -->
									<div class="dropdown-foot">
										<a href="#" class="clear-all">Clear All</a>
										<a href="#" class="cancel">Cancel</a>
										<a href="#" class="btn-mini filter-btn">Filter</a>
									</div><!-- /.dropdown-foot -->
								</div><!-- /.dropdown -->
							</div>
						</div><!-- /.filters -->
						<h6>let’s end hunger</h6>
						<i class="arrow-down"><i class="arrow-down"></i></i>
					</div><!-- /.products-head -->
					<div class="products-tiles">
						<div class="tile yellow chicago">
							<h3>Georgio's Pizza</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:50%">
										<span class="block">
											<strong>2</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$7 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/brownies.jpg" alt="" width="274" height="163" />
									<span class="title">brownies</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile green american seattle">
							<h3>Stella's Lounge</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:100%">
										<span class="block">
											<strong>20</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$4 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/crack-fries.jpg" alt="" width="274" height="163" />
									<span class="title">Crack fries</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile red hotdog detroit">
							<h3>Two Beard's Deli</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:25%">
										<span class="block">
											<strong>1</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$4 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/fountain-drinks.jpg" alt="" width="274" height="163" />
									<span class="title">Fountain Drinks</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile cafe sold-out denver">
							<h3>Georgio's Pizza</h3>
							<div class="thumb">
								<div class="progress">
									<span class="pbar" style="height:0">
										<a href="ajax/notify-signup.html" class="block">
											<span class="overlay"></span>
											<small>Notify me</small>
										</a>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$7 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/brownies.jpg" alt="" width="274" height="163" />
									<span class="overlay"></span>
									<span class="title">SOLD OUT</span>
									<span class="notify-text">
										Availability Notification scheduled
									</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile green pizza lansing italian">
							<h3>Stella's Lounge</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:100%">
										<span class="block">
											<strong>20</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$4 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/crack-fries.jpg" alt="" width="274" height="163" />
									<span class="title">Crack fries</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile red sandwich">
							<h3>Two Beard's Deli</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:25%">
										<span class="block">
											<strong>1</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$4 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/fountain-drinks.jpg" alt="" width="274" height="163" />
									<span class="title">Fountain Drinks</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile yellow burger">
							<h3>Georgio's Pizza</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:50%">
										<span class="block">
											<strong>2</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$7 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/brownies.jpg" alt="" width="274" height="163" />
									<span class="title">brownies</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<div class="tile green bar">
							<h3>Stella's Lounge</h3>
							<div class="thumb">
								<span class="social">
									<a href="#" class="btn-mini"><i class="icon-facebook"></i></a>
									<a href="#" class="btn-mini"><i class="icon-twitter"></i></a>
								</span>
								<div class="progress">
									<span class="pbar" style="height:100%">
										<span class="block">
											<strong>20</strong>
											<small>left</small>
										</span>
									</span>
								</div><!-- /.progress -->
								<a href="#">
									<span class="price">
										<strong>$1</strong>
										<span class="old">$4 <i class="icon-strike strike"></i></span>
									</span>
									<span class="shadow"></span>
									<img src="css/images/crack-fries.jpg" alt="" width="274" height="163" />
									<span class="title">Crack fries</span>
								</a>
							</div><!-- /.thumb -->
							<div class="tags">
								tags: <a href="#">open late</a>,
								<a href="#">easy in easy out</a>,
								<a href="#">cheap</a>,
								<a href="#">close to you</a>
							</div><!-- /.tags -->
						</div><!-- /.tile -->
						<a href="ajax/postcard.html" class="tile add-new popup-link">
							<div class="add-new-inner">
								<strong>Add a</strong>
								<small>restaurant</small>
								<i class="icon-plus"></i>
							</div><!-- /.add-new-inner -->
						</a><!-- /.add-new -->
					</div><!-- /.products-tiles -->

					<span class="tiles-nav">
						<a href="ajax/tiles-02.html" class="next-page"></a>
					</span>
				</div><!-- /.products -->
			</div>
		</div>

		<div id="footer">
			<ul class="footer-nav">
				<li><a href="#">For Restaurants</a></li>
				<li><a href="#">For Companies</a></li>
				<li><a href="#">For Non-Profits</a></li>
				<li><a href="#">Event Organizers</a></li>
				<li><a href="#">For Students</a></li>
				<li><a href="#">For Social Butterflies</a></li>
			</ul>
			<div class="footer-main">
				<div class="container">
					<div class="col">
					<div class="description">
						<strong>FoodCircles</strong> curates the best local restaurants and offers appetizers/dessert starting at $1. <strong>All</strong> of your purchase is donated to put food on the table for hungry children.
					</div><!-- /.description -->
					</div><!-- /.col -->
					<div class="col">
						<div class="copyright">
							&copy; 2013 Foodcircles, LLC
						</div>
						<div class="secured">
							<i class="icon-secure"></i>
							SECURE – PAYMENTS PROCESSED BY PAYPAL
						</div><!-- /.secured -->
					</div><!-- /.col -->
					<div class="col">
						<ul class="quicklinks">
							<li><a href="#">Terms &amp; Privacy</a></li>
							<li><a href="#">about we</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
						<div class="footer-social">
							<a href="#" class="icon-soc-foodcircles"></a>
							<a href="#" class="icon-soc-facebook"></a>
							<a href="#" class="icon-soc-twitter"></a>
							<a href="#" class="icon-soc-apple"></a>
							<a href="#" class="icon-soc-android"></a>
						</div><!-- /.footer-social -->
					</div><!-- /.col -->
				</div><!-- /.container -->
			</div><!-- /.footer-main -->
		</div><!-- /#footer -->
	</div><!-- /#wrapper -->
</body>
</html>