<div class="container">
  <div class="placard alpha">
    <h1>Thanks for your nomination.</h1>
    <h2>We really appreciate your time, your effort, and the fact that you thought for others.</h2>
    <h2>We'll reach out to selected families shortly.</h2>
  </div>
  <div class="placard omega">
    <div class="responses">
      <p>Family's Name: <span class="answer"><%= @event.name %></span></p>
      <p>Family's Contact: <span class="answer"><%= @event.contact %></span></p>
      <p>Family's Story: <span class="answer"><%= @event.story %></span></p>
      <p>Your Contact: <span class="answer"><%= @event.email %></span></p>
      <br><br>
      <h2>Contact us anytime at <a href="mailto:hey@joinfoodcircles.org" target="_blank">hey@joinfoodcircles.org</a>. 
    </div>
  </div>
</div>
