$('body').append('<div class="stack-bar-top alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button><%= message %></div>');
$('.alert').css("top", window.pageYOffset + 200 + "px" );
setTimeout(function(){$('.alert').alert('close');}, 10000);
