<% content_for(:title, "FoodCircles – Restaurants | End Hunger for More than Your Diners") %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=526839707387980";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>var vid = document.getElementById("demo");
vid.defaultPlaybackRate = 0.6;</script>

        <div class='restaurants-hero banner' id='hero'>
            <strong class="hero-title">Welcome supporters from local nonprofits</strong>
            <video src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/diner%20postcard%20video.mp4" autoplay loop></video>
        </div>
        <div id='restaurants'>
            <div class='container'>
                <div class='intro products-head'>
                    <div class='intro-btns'>
                        <a class='btn-standart' href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MSFGA6QBY68KY">Sign Up</a>
                        <a class='btn-standart' href="mailto: ?Subject=FoodCircles&Body=Hey%20guys%2C%20is%20this%20something%20we%20should%20put%20into%20play%20with%20the%20Union%20Gospel%20Mission%3F%20http%3A//joinfoodcircles.org/signup%0A%0ACosts%20%2450-%24150/mo%u200B%20and%20%u200Bgets%20us%20in%20front%20of%20%u200B50k%20supporters%u200B%2C%20allows%20us%20to%20track%20it.">Share With Team</a>
                    </div>
                    <h6>
                        Create a <strong>Buy one, feed one</strong> dish
                    </h6>
                    <i class="arrow-down"><i class="arrow-down"></i></i>
                </div>
                <div class="main-box">
                    <div class="desc">
                        <div>
                            <h4>Help diners <i>do good</i> by choosing your restaurant</h4>
                            <p>Enable folks to grab a "sharable" for $1 or more online. <b>100%</b> of what they pay goes to charity. They then visit your venue to redeem, giving you the opportunity <b>to build a meaningful relationship.</b></p>
                        </div>
                    </div>
                    <blockquote>
                        When a restaurant believes in something I believe, it's <strong>attractive.</strong>
                    </blockquote>
                </div>
                <ul class="parts">
                    <li>
                        <h5>A Restaurant</h5>
                        <p style="width: 53%; padding-left: 74px; font-weight: 500;">Donate menu items you have in surplus or have higher margins on for the week.</p>
                    </li>
                    <li>
                        <h5>A Nonprofit</h5>
                        <p style="font-weight: 500;">Nonprofits seeking funding announce your <i>"Buy One, Feed One"</i> dish to supporters, volunteers and donors.</p>
                    </li>
                    <li>
                        <h5>A Diner</h5>
                        <p style="width: 69%; padding-left: 50px; font-weight: 500;">Prospective diners donate for your dish on our site or app and visit your venue with others to redeem.</p>
                    </li>
                </ul>
                <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/photos.jpg" alt="" class="photos">
                <div class="apps">
                    <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/apps.jpg" alt="" class="apps-heading">
                    <video id="demo" src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/phone%20animation.mp4" autoplay loop class="apps-phone">
                        <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/phone.jpg" alt="" class="apps-phone">
                    </video>
                    <div>
                        <h4>It makes dollars and sense</h4>
                        <p>Drive visibility among nonprofits supporters. Earn business from those working for and with local causes in your area. Find a typical month below for a FoodCircles restaurant in <em>Grand Rapids, MI</em>.</p>
                        <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/calc.jpg" alt="">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MSFGA6QBY68KY" class="btn-large">Sign Up</a>
                    </div>
                    <blockquote>
                        The meals always <strong>taste better</strong> when I am able to use FoodCircles.
                    </blockquote>
                </div>
            </div>
            <div class="levels">
                <div class="container">
                    <h4>Do it for the dollars and the change</h4>
                    <p>It costs you <strong>$100/month</strong> to receive groups of diners, and you start with a <strong>50% discount</strong> until we prove it works (at least eight groups of diners per month). At that point, you unlock the ability to <strong>add a charity</strong> and become a <strong>premium catering vendor</strong>.</p>
                    <p>Launch materials are included in joining and you may cancel your partnership at any time. You make your investment back within one or two groups, and <strong>aid dozens of local kids and families</strong> in the process.</p>
                    <br>
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MSFGA6QBY68KY" class="btn-large">Sign Up</a>
                </div>
            </div>
            <div class="call">
                <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/wallpeople.jpg" alt="" >
                <div class='container'>
                    <div class="desc">
                        <h4>Low upkeep, high results</h4>
                        <p>Simply sign up and select a <em>"Buy One, Feed One"</em> dish. We'll mail you debut materials for your restaurant, handle logistics of donations, and send you a monthly report on traffic received. You just <strong>meet the nonprofit supporters sent your way.   </strong></p>
                    </div>
                    <div class="actions">
                        <div>
                            <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/cleats-b.png" alt="" style="margin-left: 29px; margin-top: 20px;">
                            <div class="action">
                                <a href="https://www.joinfoodcircles.org/signup" class="btn-large">Get Started</a>
                                <h4>Get Started</h4>
                                <p>"I love the concept and want to start welcoming diners"</p>
                            </div>
                        </div>
                        <div>
                            <img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/table-b.png" alt="" style="margin-top: 14px; margin-left: 15px";>
                            <div class="action">
                                <a href="mailto: ?Subject=FoodCircles&Body=Hey%20guys%2C%20is%20this%20something%20we%20should%20put%20into%20play%20with%20the%20Union%20Gospel%20Mission%3F%20http%3A//joinfoodcircles.org/signup%0A%0ACosts%20%2450-%24150/mo%u200B%20and%20%u200Bgets%20us%20in%20front%20of%20%u200B50k%20supporters%u200B%2C%20allows%20us%20to%20track%20it." class="btn-large">Share with Team</a>
                                <h4>Share with Team</h4>
                                <p>"Love the concept but need to run it by my partners"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='container'>
                <div class="thanks">
                    <h6>
                        thank you
                        <small>to all the restaurants in our community, including:</small>
                    </h6>
                    <ul>
                        <li><img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/thanks-jhs.jpg" alt="John Howie Steak"></a></li>
                        <li><img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/thanks-lb.jpg" alt="La Bodega"></a></li>
                        <li><img src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/thanks-b.jpg" alt="Branzino"></a></li>
                    </ul>
                </div>
            </div>
            <div class="bottomvid">
                <strong class="bottom-title">Some of our sillier restaurants in Michigan</strong>
                <a href="https://www.youtube.com/watch?v=1-CyVVnWmwg" target="_blank" class="bottom-video-link">See full video</a>
                <video src="https://dl.dropboxusercontent.com/u/38930645/site%20assets/happy_tinted_clip.mp4" autoplay loop></video>
            </div>
        </div>

        
    </div>

    
    <!-- Already has social share buttons -->
    <center><div class="fb-like" data-href="http://www.joinfoodcircles.org/restaurants" data-colorscheme="light" data-layout="standard" data-action="recommend" data-show-faces="true" style="text-align: center; margin: auto auto auto;"></div><div><a href="https://twitter.com/share" class="twitter-share-button" data-via="FoodCircles" data-related="FoodCircles,jkooms,sliceosaurusrex" data-hashtags="bofo">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div></center>
</div>
