<div class="popup">
	<form action="" method="post">	
		<div class="subscribe">
			<h2>ARM YOURSELF FOR THE STREETS</h2>
			<p>ENTER YOUR 10-DIGIT US MOBILE NUMBER AND WE’LL SEND A DOWNLOAD LINK DIRECTLY TO YOUR PHONE</p>
			<label for="subscribe">Get updates</label>
			<fieldset>
				<input type="email" name="subscribe" value="" placeholder="you@email.com" class="field tall" id="subscribe" />
				<span class="btn-arrow submit">
					<input type="submit" value="" />
					<i class="arrow-right"></i>
				</span>
			</fieldset>
		</div><!-- /.subscribe -->
	</form>
</div><!-- /.popup -->