<div class="popup">
	<form action="" method="post">	
		<div class="subscribe">
			<h2>THE "BRIEFS" LIST</h2>
			<p>For folks who want the big updates (expansion, child-focused, etc.) and not much else.</p>
			<label for="subscribe">GET BRIEFS</label>
			<fieldset>
				<input type="email" name="subscribe" value="" placeholder="email address" class="field tall" id="subscribe" />
				<span class="btn-arrow submit">
					<input type="submit" value="" />
					<i class="arrow-right"></i>
				</span>
			</fieldset>
		</div><!-- /.subscribe -->
	</form>
</div><!-- /.popup -->