.cards
  %span.amex
  %span.visa
  %span.mastercard
  %span.generic
%h5
  Payment Details
  %span.line
.card-number
  %label Card number
  %span.field-holder
    %input#card-number.field.standart{:placeholder => "4242 4242 4242 4242", :type => "text"}/
    %i.suffix.icon-lock
/ /.card-number
.cv-code
  %label CV Code
  %input#cvc.field.standart.thin{:placeholder => "123", :type => "text"}/
/ /.cv-code
.valid-thru
  %label EXPIRY DATE
  %input#exp-month.field.standart.thin{:placeholder => "02", :type => "text"}/
  %input#exp-year.field.standart.thin{:placeholder => "15", :type => "text"}/
/ /.valid-thru
