#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=526839707387980";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
#about
  .container
    %h2 About We
    = render :partial => 'partials/faq_sidebar'
    .questions
      .question
        %h3 Yeah, we know it doesn't sound right.
        %p Thing is, this isn't about four or seven people making a website.  This is about <strong>we together</strong> putting dinner on the table for a hungry child by doing something we're already doing. We could wax poetic about how and when FoodCircles started, but our company <strong>is</strong> the stories you tell about us, not the story we tell about us.  So tell us — what do the apps and site do for you?  <strong>How has hunger played a role in your life or in the life of someone you know?</strong> We look forward to seeing your response below.
      = image_tag 'about_we_diagram.png', alt: '', class: 'about-we-diagram'
      .question
        %h3 Many of us may not know what it’s like..
        %p So we exist to be a simple way to help one child who <strong>does</strong> know what it's like to go days without eating properly.  Use the site and <a href="http://www.joinfoodcircles.org/apps/">apps</a> to make dinner plans, buy a dish for $1 (or more), and give 100% of that purchase to feed hungry children. The site can help you make a decision and purchase <strong>within 60 seconds.</strong> <br><br>Each $1 you spend provides <a href="http://blog.joinfoodcircles.org/2012/12/10/life-of-a-sack-supper-kids-food-basket/">mind-sustaining dinner</a> to a child locally or a miraculous food called <a href="http://blog.joinfoodcircles.org/2013/02/04/plumpynut/">Plumpy'Nut</a> for a full day to a child abroad.  The site will <strong>never</strong> take a cut of your purchase and works with great distributors such as Kids Food Basket, Feeding America WM, and World Vision.  Heck, we even challenged you to <a href="http://blog.joinfoodcircles.org/2012/11/01/the-first-dollar-lunch-day-of-grand-rapids/">taste</a> the meals kids were getting.  Read reviews <a href="https://twitter.com/ScottHillGR/status/258210608548306944" target="_blank">here</a>, <a href="https://twitter.com/DianeTeall/status/258012856455413761" target="_blank">here</a>, and <a href="https://twitter.com/The_Love_Hate/status/259049895942553600" target="_blank">HERE</a>!
      .question
        %h3 Basics on redeeming..
        %p Once you make a purchase, you can get a voucher on your smartphone, a text sent to any cell phone, or an email to print, and all you have to do is show it to the staff of the restaurant.  They'll thank you, place a special placard on your table, and bring you your dish with the rest of your regularly purchased meal.  <strong> Your hunger is powerful. Do something simple, yet truly extraordinary with it. </strong>
  .clear
#team
  .container
    .teampick
      %ul
        %li.jonathan.active
          %a{:href => "#jonathan"} Managing Director
        %li.adam
          %a{:href => "#adam"} Lead Designer
        %li.mike
          %a{:href => "#mike"} Ops. Engineer
        %li.lacides
          %a{:href => "#lacides"} API Engineer
        %li.bruno
          %a{:href => "#bruno"} iOS Developer
        %li.taylor
          %a{:href => "#taylor"} Frontend Developer
        %li.pseibelt
          %a{:href => "#pseibelt"} Backend Developer
    #jonathan.teammember.active
      %h3 Jonathan Kumar
      %h4
        Currently in
        %strong Grand Rapids, MI
      %p I was on food stamps as a child, and I never quite got over the tinge of guilt I felt whenever I paid $12 for a burger in college. Most "housekeeping" duties fall to me, and God helps me enable others do powerful things with their hunger.  My degree from UofM sounds made up but is called "<a href="http://informatics.umich.edu/">Informatics,</a>" and old projects include a <a href="https://vimeo.com/talim">doc in India</a>, an Ann Arbor sports club, and a ton of music videos.
      %p
        %b Text/call
        me at
        %strong 312-94-KUMAR
        to play pickup sports, talk about poverty, or to get into trouble.
      %ul.contact
        %li
          %a.fb{:href => "https://www.facebook.com/jkooms"} Facebook
        %li
          %a.tw{:href => "https://www.twitter.com/jkooms"} Twitter
        %li
          %a.sk{:href => "skype:jtkumario?chat"} Skype
        %li
          %a.em{:href => "mailto:jonathan@foodcircles.net"} Email
        %li
          %a.li{:href => "linkd.in/JonKumar"} LinkedIn
    #adam.teammember
      %h3 Adam Salois
      %h4
        Currently in
        %strong Grand Rapids, MI
      %p Late 2012, I sought a design internship while at Kendall College of Art and Design and here I am today!  Turns out, Craigslist isn’t just for creeps...maybe. As Lead Designer, it’s my responsibility to properly communicate our mission by means of visual flow, iconography, and typography. I relocated to GR from MSU as a transfer student, where I was able to pursue being a prestigious member of the Spartan Marching Band Drumline.
      %p
        %b Text or call
        me at
        %strong 616.262.1893
        to hang out on porches, grab a brew, or any and all beach related activities (even winter).
      %ul.contact
        %li
          %a.fb{:href => "fb.com/saloisa"} Facebook
        %li
          %a.tw{:href => "twitter.com/SLICEosaurus"} Twitter
        %li
          %a.sk{:href => "skype:adam.salois?chat"} Skype
        %li
          %a.em{:href => "mailto:a@foodcircles.net"} Email
        %li
    #mike.teammember
      %h3 Mike King
      %h4
        Currently in
        %strong Grand Rapids, MI
      %p I don't have a photo yet, so I'm using one from our old intern.  Sue me.  Anyway, I decided to take on FoodCircles because it's a cool site with a cool purpose and because Jon and Adam are some cool dudes.  Originally met them when my company, <a href="http://ostusa.com">OST</a> graciously sponsored them with a grant. I handle much of what happens when you sign up, make a purchase, share stuff with your friends, etc.  I'm a nerd that likes to drive fast cars, with a background in travel and computer science.
      %p
        %b Email
        me at
        %strong <a href="mailto:mike@joinfoodcircles.org">mike@joinfoodcircles.org</a>
        to debate Pokemon, race BMW's, or hit up a ska concert.
      %ul.contact
        %li
          %a.li{:href => "http://www.linkedin.com/profile/view?id=175476844"} LinkedIn
        %li
          %a.em{:href => "mailto:mikejoinfoodcircles.org"} Email
    #lacides.teammember
      %h3 Lacides Barros
      %h4
        Currently in
        %strong Barranquilla, Columbia
      %p Looks like I don't have a picture yet either.  Verbatim, I have no idea why I continue to work on FoodCircles.  I completed a short contract for them, and kind of have just been sticking around since.  Maybe it's because it's the first time my code is being used by awesome folks like you instead of locked in a vault. I help the apps and the site talk to each other.  So when you buy something on the website, then fire up the Android app on the way to the restaurant, the voucher shows up.
      %p
        %b Email
        me at
        %strong <a href="mailto:lcharris89@gmail.com">lcharris89@gmail.com</a>
        to visit Columbia, start coding with us, or report any bugs.
      %ul.contact
        %li
          %a.li{:href => "http://www.linkedin.com/profile/view?id=175476844"} LinkedIn
        %li
          %a.em{:href => "mailto:lcharris89@gmail.com/"} Email
    #bruno.teammember
      %h3 Bruno Guidolim
      %h4
        Currently in
        %strong Americana, SP, Brazil
      %p Alright, what am I doing here? I'm the Lead Architect of iOS app (Jon told me it, I believed him), I was looking for some contract work and Jonathan passed me this challenge. I made more than I expected and when I found myself, I was transformed in a volunteer. What else? I'm a cool guy with some new friends.  I started programming when I was 14 but I found my passion in iOS development.
      %p
        %b Email
        me at
        %strong <a href="mailto:b@joinfoodcircles.org">b@joinfoodcircles.org</a>
        to chat about apps, Brazil, and how to make the best "brigadeiro".
      %ul.contact
        %li
          %a.em{:href => "mailto:b@joinfoodcircles.org"} Email
        %li
          %a.ws{:href => "http://www.guidolim.com"} Website
        %li
          %a.li{:href => "http://br.linkedin.com/in/brunoguidolim/en"} LinkedIn
    #taylor.teammember
      %h3 Taylor Satula
      %h4
        Currently in
        %strong Warren, NJ
      %p I started working here a little while after getting in contact with Jonathan. He was looking for someone to work on the website and do analytical tests to better understand the people that we are helping. I seem to fit the bill for that. I'm really excited to become part of the team here at Food Circles. Previously I was solely a freelance web designer and as much as I enjoyed it I really enjoy working with others and seeing my work on a larger scale. Most of the work I've done so far at food circles are tweaks to improve the website and make it run more efficiently.
      %p
        %b Email
        me at
        %strong <a href="mailto:taylor@threepixeldrift.com">taylor@threepixeldrift.com</a>
        lets chat about downhill biking, interior design, or just to swap funny Youtube videos.
      %ul.contact
        %li
          %a.fb{:href => "http://fb.com/taylorsatula"} Facebook
        %li
          %a.tw{:href => "http://twitter.com/gotpurpledrank"} Twitter
        %li
          %a.sk{:href => "skype:taylor.satula?chat"} Skype
        %li
          %a.li{:href => "http://www.linkedin.com/pub/taylor-satula/8a/834/504/"} LinkedIn
        %li
          %a.em{:href => "mailto:taylor@threepixeldrift.com/"} Email
        %li
          %a.ws{:href => "http://www.threepixeldrift.com/"} Website
    #pseibelt.teammember
      %h3 Pablo Seibelt
      %h4
        Currently in
        %strong Buenos Aires, Argentina
      %p I'm a software developer with strong convictions on poverty that go far beyond charities, i think NGOs like Food Circles do a good job creating conscience of those less fortunate. I hope someday we just won't need charities.
      %p
        %b Email
        me at
        %strong <a href="mailto:pabloseibelt@sicarul.com">pabloseibelt@sicarul.com</a>
        to talk about inequality, software, philosophy, or if you intend to visit Buenos Aires.
      %ul.contact
        %li
          %a.tw{:href => "http://twitter.com/sicarul"} Twitter
        %li
          %a.em{:href => "mailto:pabloseibelt@sicarul.com"} Email
        %li
          %a.ws{:href => "http://www.sicarul.com/"} Website
  .clear
#fbcomments
  .container
    #socialsharebuttons
      %br
        %center
          .fb-like{"data-action" => "like", "data-href" => "http://www.joinfoodcircles.org", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}
          %br
          %br
          %a.twitter-share-button{"data-hashtags" => "BOFO", "data-url" => "http://www.joinfoodcircles.org", "data-via" => "FoodCircles", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %h4
      How has hunger affected you? Tell our story.
  .container
    .fb-container
      .fb-comments{"data-href" => "http://www.foodcircles.net/faq", "data-num-posts" => "10", "data-width" => "784"}
.clear
:javascript
  $('.teampick a').click(function(e){
    e.preventDefault();
    $('.teampick li').removeClass('active');
    $(this).parent('li').addClass('active');
    $('.teammember').removeClass('active');
    $($(this).attr('href')).addClass('active');
  });
