#about
  .container
    %h2 About We
    = render :partial => 'partials/faq_sidebar' 
    .questions
      .question
        %h3 Can we leverage our dining intentions to feed the hungry?
        %p At first, we focused on ourselves as the hungry; driving extra boneless wings, chips & salsa, discounts, etc. in Ann Arbor, MI.  But we learned that true impact is created by solving needs, not wants.  We wanted extra food with our meals, but many others needed food, period!  But when introduced to Buy One, Feed One, restaurants were so enthused by the idea that they let us keep the deals, serving them as "thank you's" to participants.  Wow!
      .question
        %h3 Together, we can provide food to those in need.
        %p The food we provide to children are always nutrient-filled, life-sustaining meals, organic when possible.  If you choose Grand Rapids as your area of impact, we work with an agency called Kids Food Basket to provide a turkey/ham sandwich (or pb&amp;j), a fruit, a serving of veggies, two snacks and a drink for every $1 spent.  Check out reviews of this meal from people who tried it! (here, here, and HERE)
      .question
        %h3 Where we are now.
        %p Today, FoodCircles helps folks in Grand Rapids, MI feel good about their dining.  We help them decide where to eat, save money, and help get food to the poor.  You pay-what-you-want for drinks, desserts, and appetizers, we give 100% to get food to children who need it.  $1 given, 1 child fed.  Thank you for joining us.
  .clear
#team
  .container
    .teampick
      %ul
        %li.jonathan.active
          %a{:href => "#jonathan"} Jonathan Kumar
        %li.adam
          %a{:href => "#adam"} Adam Salois
        %li.carly
          %a{:href => "#carly"} Carly Roach
        %li.kerri
          %a{:href => "#kerri"} Kerri
    #jonathan.teammember.active
      %h3 Director of FoodCircles
      %h4
        Currently on
        %strong Grand Rapids, MI
      %p Jonathan Kumar is studying Economics & Informatics at U of M.  His dream, the last 20 months, has been to attend the National Buffalo Wing Festival.    Jonathan has almost drowned, been eaten alive, and gotten lost in on mountain railway system in past Indian experiences.  Here's his claim to fame: a crude YouTube video selected to air on "MTV's Pranked!".
      %p
        %b Text or call
        him at
        %strong 312.363.8734
        to drink chai tea, play ultimate frisbee, or talk about internet startups.
      %ul.contact
        %li
          %a.fb{:href => "#"} Facebook
        %li
          %a.tw{:href => "#"} Twitter
        %li
          %a.sk{:href => "#"} Skype
        %li
          %a.em{:href => "#"} Email
        %li
          %a.li{:href => "#"} LinkedIn
    #adam.teammember
      %h3 Director of FoodCircles 2
      %h4
        Currently on
        %strong Grand Rapids, MI
      %p Jonathan Kumar is studying Economics & Informatics at U of M.  His dream, the last 20 months, has been to attend the National Buffalo Wing Festival.    Jonathan has almost drowned, been eaten alive, and gotten lost in on mountain railway system in past Indian experiences.  Here's his claim to fame: a crude YouTube video selected to air on "MTV's Pranked!".
      %p
        %b Text or call
        him at
        %strong 312.363.8734
        to drink chai tea, play ultimate frisbee, or talk about internet startups.
      %ul.contact
        %li
          %a.fb{:href => "#"} Facebook
        %li
          %a.tw{:href => "#"} Twitter
    #carly.teammember
      %h3 Director of FoodCircles 3
      %h4
        Currently on
        %strong Grand Rapids, MI
      %p Jonathan Kumar is studying Economics & Informatics at U of M.  His dream, the last 20 months, has been to attend the National Buffalo Wing Festival.    Jonathan has almost drowned, been eaten alive, and gotten lost in on mountain railway system in past Indian experiences.  Here's his claim to fame: a crude YouTube video selected to air on "MTV's Pranked!".
      %p
        %b Text or call
        him at
        %strong 312.363.8734
        to drink chai tea, play ultimate frisbee, or talk about internet startups.
      %ul.contact
        %li
          %a.fb{:href => "#"} Facebook
        %li
          %a.tw{:href => "#"} Twitter
        %li
          %a.sk{:href => "#"} Skype
    #kerri.teammember
      %h3 Director of FoodCircles 4
      %h4
        Currently on
        %strong Grand Rapids, MI
      %p Jonathan Kumar is studying Economics & Informatics at U of M.  His dream, the last 20 months, has been to attend the National Buffalo Wing Festival.    Jonathan has almost drowned, been eaten alive, and gotten lost in on mountain railway system in past Indian experiences.  Here's his claim to fame: a crude YouTube video selected to air on "MTV's Pranked!".
      %p
        %b Text or call
        him at
        %strong 312.363.8734
        to drink chai tea, play ultimate frisbee, or talk about internet startups.
      %ul.contact
        %li
          %a.fb{:href => "#"} Facebook
        %li
          %a.tw{:href => "#"} Twitter
        %li
          %a.li{:href => "#"} LinkedIn
  .clear
#fbcomments
  .container
    %h4
      Unanswered question? Email ut as
      %a.mailus{:href => "mailto:hey@foodcircles.net"} hey@foodcircles.net
      or comment below.
  .container
    .fb-container
      .fb-comments{"data-href" => "http://www.foodcircles.net/faq", "data-num-posts" => "10", "data-width" => "784"}
.clear
