#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=526839707387980";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

#faqmain
  .container
    %h2 Frequently Asked Questions
    = render :partial => 'partials/faq_sidebar' 
    .questions
      .question
        %h3 How do I help someone in need just by eating out?
        %p Whenever you're planning a meal out, consider trying a "Buy One, Feed One" dish. You can buy them on our website or mobile app for $1 or greater, and 100% of your purchase is donated to feed those hungry in your community or your nonprofit of choice.
      .question
        %h3 Ok. Bought a voucher. Now what?
        %p Simply visit the restaurant within 30 days with your voucher displayed (you can display it via email, text message, or on your app). Show the voucher to your server and then hit Mark As Used to redeem.  
      .question
        %h3 Are there any rules/requirements to redeem?  I don't like surprises.
        %p Each guest should purchase regular food or drinks when redeeming a dish. All "Buy One, Feed One" restaurants are locally-owned and made the decision to give 100% of your dish purchase to feed others.  Let's support 'em as much as we can.
      .clear
    .clear
#faq
  .container
    .question
      %h3 What?  Why are some places out of stock?  
      %p Restaurants only give us a limited amount of "Buy One, Feed One" vouchers per week.  So if you see one, grab one!  We'll add vouchers every <b>Saturday</b>. If you miss the one you wanted, join the waitlist and you'll have first dibs when the next ones arrive.
    .question
      %h3 Can I use this in a group?
      %p Yup, you can even buy multiple "Buy One, Feed One" dishes if you have a group of four or more. See specific dishes for details.
    .question
      %h3 Can I buy a voucher for someone else?
      %p Glad you asked!  Simply buy the voucher for yourself, and <strong>reply to the confirmation email</strong> with whomever you want to receive it.  We'll pass on the good news. <br><br> Or want to double down on doing good? Simply mention it to your server and they will send your dish to a customer behind you, to the table of your choice (cute guy across the restaurant?), etcetera.
    .question
      %h3 How do I see past vouchers I've bought or how many kids I've fed so far?
      %p Access previously purchased vouchers on <a href="http://www.joinfoodcircles.org/timeline"> your Timeline</a>.
    .question
      %h3 What happens to my donation if my voucher expires?
      %p Don't worry. While you will not be able to redeem the voucher at a restaurant, the money you paid still ends up feeding hungry children. So someone gets fed, even if it's not you.
    .question
      %h3 So how are people fed exactly?
      %p When you make a purchase, a local food justice organization receives your funds with the promise that they will use it for food. Each $1 you spend gives the charity the fuel to provide new nutrition to those in need. All distributing organizations are registered as 501(c)3, and are reviewed by FoodCircles and Charity Navigator annually.
    .question
      %h3 How do I know the funds are going to be used properly?  Are my purchases tax-deductible?
      %p The charity typically follows up a few days after your purchase to confirm that your funds were received and focused on a specific use. Because you're receiving a restaurant dish for your donation, FoodCircles purchases are not tax-deductible.
    .question
      %h3 Do you share my information to the charity that distributes the meals?
      %p No. We require follow-up reports from the charities involved and pass their gratitude on to you, but we will not share your contact information with them unless you otherwise allow us to.
    .question
      %h3 If you guys donate 100%, how do you pay bills?
      %p Since we send traffic to local restaurants, they pay us a monthly sponsorship which covers the roof over our heads. The restaurant also gets to meet passionate, impact-driven people, like you!
    .question
      %h3 Is this just throwing food at a problem or is there an actual solution to ending hunger?
      %p We absolutely believe in ending the immediate suffering of children who aren't able to play or learn because they are hungry.  The consequences can be permanent.  We believe the ultimate solution to hunger lies with parent education, but until that can be resolved, we will help the children who are suffering as a result.
    .question
      %h3 The charity I wanted to send my funds to isn't here!
      %p Have them check out <a href="http://www.joinfoodcircles.org/nonprofits">'For Nonprofits'</a>.
    .question
      %h3 Where's the jobs page?
      %p Want to work with us?  Come find us (we're around!) or contact us on <a href="http://www.joinfoodcircles.org/about_we">About We</a>.

#fbcomments
  .container
    #socialsharebuttons
      %br
        %center
          %a.twitter-share-button{"data-hashtags" => "BOFO", "data-url" => "http://www.joinfoodcircles.org", "data-via" => "FoodCircles", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          .fb-like{"data-action" => "like", "data-href" => "http://www.joinfoodcircles.org", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}
    %h4
      Unanswered question?
      %a.mailus{:href => "mailto:hey@joinfoodcircles.org"} Email us,
      comment below, or call 616-61-FOOD-6.
  .container
    .fb-container
      .fb-comments{"data-href" => "http://www.joinfoodcircles.org/faq", "data-num-posts" => "10", "data-width" => "784"}
.clear
