#faqmain
  .container
    %h2 Frequently Asked Questions
    = render :partial => 'partials/faq_sidebar' 
    .questions
      .question
        %h3 Where in specialty gopher parade boarding six mighty Minnesotan snuggletrains?
        %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aenean nec ut!
      .question
        %h3 Why is justice bear of all shining pants running for double-backflip hipsters?
        %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aenean nec ut!
      .question
        %h3 How can carpet academy alumni survive torrential hustle of swagger jacks?
        %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aenean nec ut!
#faq
  .container
    .question
      %h3 How does you designer an internets without coding the gigapixels?
      %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aeneany nec ut!
    .question
      %h3 How does you designer an internets without coding the gigapixels?
      %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aeneany nec ut!
    .question
      %h3 How does you designer an internets without coding the gigapixels?
      %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aeneany nec ut!
    .question
      %h3 How does you designer an internets without coding the gigapixels?
      %p Amet ac porta elementum risus dis aenean diam, aliquet amet dictumst turpis pulvinar non in odio, aliquam risus et, cras tincidunt nisi ac massa! Turpis mid aeneany nec ut!
#fbcomments
  .container
    %h4
      Unanswered question? Email ut as
      %a.mailus{:href => "mailto:hey@foodcircles.net"} hey@foodcircles.net
      or comment below.
  .container
    .fb-container
      .fb-comments{"data-href" => "http://www.foodcircles.net/faq", "data-num-posts" => "10", "data-width" => "784"}