#butterfly-title {
	text-align: center;
	margin-top: 50px;
}

#butterfly-step1 {
	margin-top: 30px;
}

#butterfly-step2 {
	margin-top: 20px;
	position: relative;
	left: 500px;
}

#butterfly-step3 {
	margin-top: 50px;
}

#butterfly-submit {
	text-align: center;
	display: block;
	margin-top: 10px;
	height: 220px;
}

#butterfly-questions {
	text-align: center;
	margin: 20px 0 100px 0;
}

#butterfly-faq {
	display: inline-block;
}

#butterfly-texting {
	margin-top: 100px;
}

#butterfly-path1 {
	display: inline-block;
	position: relative;
	top: 200px;
	left: -150px;
}

#butterfly-path2 {
	display: inline-block;
	position: relative;
	right: 775px;
}

#butterfly-path3 {
	position: relative;
	left: 200px;
}

#butterfly-circle {
	display: inline-block;
	position: relative;
	top: -180px;
	z-index: -1;
}

#butterfly-apply {
	margin-top: 10px;
}

#butterfly-questions h3 {
	margin-bottom: 20px;
}
