/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper { position:absolute; top:0; left:0; z-index:9999;  }
#cboxOverlay { position:fixed; width:100%; height:100%; }
#cboxMiddleLeft, #cboxBottomLeft { clear:left; }
#cboxContent { position:relative; }
#cboxLoadedContent { overflow:auto; -webkit-overflow-scrolling: touch; }
#cboxTitle { margin:0; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position:absolute; top:0; left:0; width:100%; height:100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor:pointer; }
.cboxPhoto { float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic; }
.cboxIframe { width:100%; height:100%; display:block; border:0; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay { background:#c6c6c6; }
#colorbox { outline:0; }
    #cboxContent{ background:#f2ede4; box-shadow:0 2px 7px rgba(0,0,0,0.18); }
        .cboxIframe { background:#fff; }
        #cboxError { padding:50px; }
        #cboxLoadedContent { background:#f2ede4; padding: 40px; }
        #cboxLoadingGraphic { background:url(img/loading.gif) no-repeat center center; }
        #cboxLoadingOverlay { background:#fff; }
        #cboxTitle { position:absolute; top:-22px; left:0; color:#000; }
        #cboxCurrent { position:absolute; top:-22px; right:205px; text-indent:-9999px; }

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow { display:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxClose{ background:url(../img/cancel_button.png) no-repeat 0px 0px; 
            width:38px; 
            height:38px; 
            position:absolute; 
            top:-18px; 
            right:-15px; 
            border:none; 
            font-size:0; 
            line-height:0; 
            text-indent:-4000px; 
        }

        #cboxClose:hover {
            opacity: .5;
        }


#cboxWrapper,
#colorbox { overflow:visible !important;  }

#hidden h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "museo-slab", serif;
    color: #4e3e34;
    text-align: center;
}

#hidden h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: "museo-slab", serif;
    color: #4e3e34;
    text-align: center;
}

#hidden a {
    text-decoration: underline;
}