@font-face {
font-family: 'neutra-bold';
src: url(font_path('neutrafaceslabtextcbold-webfont.eot'));
src: url(font_path('neutrafaceslabtextcbold-webfont.eot?#iefix') format('embedded-opentype')),
     url(font_path('neutrafaceslabtextcbold-webfont.woff') format('woff')),
     url(font_path('neutrafaceslabtextcbold-webfont.ttf') format('truetype')),
     url(font_path('neutrafaceslabtextcbold-webfont.svg#neutrafaceslabtextcbold') format('svg'));
font-weight: normal;
font-style: normal;
}   
