h1, h2, h3,
h4, h5, h6 {
    margin: 0;
    text-align: center;
}

/*
 * Main intro
 */ 

#main {
    background: #f0e9de url(home/background.jpg) 50% 0 no-repeat;
    padding-top: 60px;
}

#intro {
    background: url(home/main_intro_high.png) 50% 0 no-repeat;
    height: 325px;
    list-style: none;
    overflow: hidden;
    text-indent: -999px;
    margin: 0 auto 30px;
}

#app {
    background: url(home/title.png) top center no-repeat;
    height: 86px;
    max-width: 950px;
    padding: 50px 0 175px 0;
    position: relative;
    zoom: 1;
    #use {
	background: url('home/2-channels.png') top center no-repeat;
	float: left;
	height: 190px;
	padding-top: 15px;
	position: relative;
	text-align: center;
	width: 50%;
	#web {
	    color: #fff;
	    text-decoration: none;
	}
	#android {
	    color: #fff;
	    text-decoration: none;
	}
    }
    #remind {
	background: url('home/divider.png') top left no-repeat;
	float: left;
	position: relative;
	text-align: center;
	width: 50%;
	input {
	    border: 1px solid #dedede;
	    border-radius: 5px;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	    margin: 20px 0 0;
	    padding: 13px;
	    width: 320px;
	    &::-webkit-input-placeholder { font-style:italic; }
	    &:-moz-placeholder { font-style: italic; }
	}
	> a {
	    background: rgb(174,82,83);
	    background: -moz-linear-gradient(top, rgba(174,82,83,1) 0%, rgba(180,88,89,1) 50%, rgba(160,72,71,1) 51%, rgba(160,72,71,1) 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,82,83,1)), color-stop(50%,rgba(180,88,89,1)), color-stop(51%,rgba(160,72,71,1)), color-stop(100%,rgba(160,72,71,1)));
	    background: -webkit-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
	    background: -o-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
	    background: -ms-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
	    background: linear-gradient(to bottom, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae5253', endColorstr='#a04847',GradientType=0 );
	    border: 2px solid #471111;
	    border-top: 1px solid #471111;
	    border-bottom: 3px solid #471111;
	    border-radius: 8px;
	    box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	    color: #fff;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 22px;
	    font-weight: bold;
	    margin: 15px 0;
	    padding: 7px 31px;
	    text-shadow: 0 1px 3px #471111;
	}
	> p {
	    color: #999;
	    display: inline-block;
	    font-weight: bold;
	    line-height: 1.3em;
	    margin: 5px 0;
	    width: 365px;
	    > strong {color: #666664;}
	}
	#thankyou {
	    background-color: #555;
	    border: 6px solid #fff;
	    border-radius: 5px;
	    box-shadow: 0 0 10px rgba(0,0,0,.3);
	    color: #fff;
	    display: none;
	    font-size: 36px;
	    font-weight: bold;
	    left: 65px;
	    line-height: 90px;
	    opacity: 0;
	    padding: 15px;
	    position: absolute;
	    text-shadow: 0 0 10px #000;
	    top: 10px;
	    width: 300px;
	    height: 90px;
	}
    }
}

.redButton {
    background: rgb(174,82,83);
    background: -moz-linear-gradient(top, rgba(174,82,83,1) 0%, rgba(180,88,89,1) 50%, rgba(160,72,71,1) 51%, rgba(160,72,71,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,82,83,1)), color-stop(50%,rgba(180,88,89,1)), color-stop(51%,rgba(160,72,71,1)), color-stop(100%,rgba(160,72,71,1)));
    background: -webkit-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
    background: -o-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
    background: -ms-linear-gradient(top, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
    background: linear-gradient(to bottom, rgba(174,82,83,1) 0%,rgba(180,88,89,1) 50%,rgba(160,72,71,1) 51%,rgba(160,72,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae5253', endColorstr='#a04847',GradientType=0 );
    border: 2px solid #471111;
    border-top: 1px solid #471111;
    border-bottom: 3px solid #471111;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    padding: 7px 31px;
    text-decoration: none;
    text-shadow: 0 1px 3px #471111;
}

/*
 * Slider
 */ 

#slider {
    background: #666;
    height: 110px;
    position: relative;
    margin-bottom: 100px;
    .wrapper {
	height: 230px;
	top: -43px;
	overflow: hidden;
	width: 896px;
    }
    ul {
	list-style: none;
	position: relative;
    }
    li {
	float: left;
	height: 200px;
	margin: 0 10px;
	position: relative;
	text-align: center;
	width: 204px;
    }
    .logo {
	background: url(home/spirtes_slider.png) 0 0 no-repeat;
	display: block;
	height: 126px;
	line-height: 126px;
	margin: 0 auto;
	width: 126px;
    }
    img {vertical-align: middle;}
    p {
	background-color: #fff;
	border: 1px solid #333;
	border-bottom: 2px solid #333;
	border-radius: 7px;
	left: 0;
	margin: 0;
	padding: 8px 4px 3px;
	position: absolute;
	top: 120px;
	width: 196px;
	&:before {
	    background: url(home/spirtes_slider.png) -86px -126px no-repeat;
	    content: "";
	    width: 32px;
	    height: 21px;
	    position: absolute;
	    top: -21px;
	    left: 85px;
	}
	.time {
	    border-top: 1px solid #ccc;
	    color: #ccc;
	    display: block;
	    height: 5px;
	    margin: 0 10px 7px;
	    position: relative;
	    text-align: center;
	    > span {
		background-color: #fff;
		line-height: 12px;
		margin-top: -10px;
		padding: 1px 3px;
		position: relative;
		top: -10px;
	    }
	    &:after {
		background-color: #ccc;
		content: "";
		height: 4px;
		position: absolute;
		right: 0px;
		top: 0;
		width: 1px;
	    }
	    &:before {
		background-color: #ccc;
		content: "";
		height: 4px;
		left: 0px;
		position: absolute;
		top: 0;
		width: 1px;
	    }
	}
	.strike {
	    text-decoration: line-through;
	}
    }
    strong {
	display: block;
	margin-bottom: 10px;
	line-height: 22px;
    }
    .current a {
	text-decoration: none;
	&:hover {
	    text-decoration: underline;
	}
    }
    .next, .prev {
	background: url(home/spirtes_slider.png) no-repeat;
	display: block;
	height: 48px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	text-indent: -999px;
	top: 30px;
	width: 30px;
    }
    .next {
	background-position: -126px -48px;
	margin-left: 450px;
    }
    .prev {
	background-position: -126px 0;
	margin-left: -480px;
    }
}

/*
 * Features
 */ 

#workflow {
    border-bottom: 1px solid #cfcfcf;
    list-style: none;
    margin: 20px auto 40px;
    padding-bottom: 50px;
    width: 800px;
    zoom: 1;
    &:after {
	content: "";
	display: table;
	clear: both;
    }
    li {
	background: url(home/sprites_features.png) no-repeat;
	display: block;
	float: left;
	height: 198px;
	position: relative;
	width: 252px;
    }
    i {
	display: block;
	overflow: hidden;
	text-indent: -999px;
    }
    .step1 {
	background-position: 0 0;
	margin-right: 22px;
	.arrow {
	    background: url(home/sprites_features.png) -276px 0 no-repeat;
	    display: block;
	    height: 59px;
	    position: absolute;
	    right: -68px;
	    top: -8px;
	    width: 124px;
	    z-index: 2;
	}
    }
    .step2 {
	background-position: 0 -200px;
	margin-right: 22px;
	.arrow {
	    background: url(home/sprites_features.png) -276px -59px no-repeat;
	    bottom: -10px;
	    display: block;
	    height: 59px;
	    position: absolute;
	    right: -70px;
	    width: 124px;
	    z-index: 2;
	}
    }
    .step3 {
	background-position: 0 -400px;
    }
}
#feats,
#quotes {
    list-style: none;
    margin: 0 auto 40px;
    max-width: 1000px;
    li {
	border-right: 1px solid #cfcfcf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	*display: inline; zoom: 1;
	text-align: center;
	width: 33%;
	vertical-align: top;
    }
}

#feats {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 50px;
}

#feats li:last-child,
#quotes li {
    border: 0;
}

#quotes {
    .small {
	font-size: 12px;
    }
    .medium {
	font-size: 18px;
    }
    .big {
	font-size: 20px;
    }
    blockquote {
	position: relative;
	&:before {
	    content: '“';
	    color: #ececec;
	    font-family: Arial, sans-serif;
	    font-size: 10em;
	    left: -0.1em;
	    line-height: 0.6em;
	    position: absolute;
	    top: 0;
	}
	&:after {
	    bottom: 0;
	    color: #ececec;
	    content: '”';
	    font-family: Arial, sans-serif;
	    font-size: 10em;
	    line-height: 0.1em;
	    position: absolute;
	    right: -0.1em;
	}
	p {
	    position: relative;
	    z-index: 1;
	}
    }
    li:first-child blockquote {
	text-align: right;
	margin: 0 50px;
    }
    li:last-child blockquote {
	text-align: left;
	margin: 0 50px;
    }
    cite {
	display: block;
	margin-top: 1em;
	font-style: normal;
    }
}

/*
 * Footer
 */ 

#footer {
    background: #8f3e3e;
    color: #fff;
    zoom: 1;
    &:after {
	content: "";
	display: table;
	clear: both;
    }
    a {
	color: #fff;
    }
    .block {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 20px;
	*padding: 20px 0;
	text-align: center;
    }
    .supported {
	width: 30%;
    }
    .inthenews {
	width: 40%;
    }
    .contactus {
	width: 30%;
    }
    .supported ul,
    .inthenews ul {
	list-style: none;
	text-align: center;
    }
    .supported li,
    .inthenews li {
	color: #6b2e2e;
	display: inline-block;
	*display: inline; zoom: 1;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 0 5px;
    }
    .supported a {
	display: block;
	font-size: 12px;
    }
    .links {
	padding-top: 10px;
	font-size: 12px;
    }
}

/*
 * Video overlay
 */ 

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: 'alpha(Opacity=50)';
    z-index: 10;
}

#modal-container {
    background: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 1px;
    left: 50%;
    max-width: 580px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 1px;
    z-index: 11;
}

#modal-container a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    position: absolute;
    right: -10px;
    text-decoration: none;
    text-shadow: 0 0 3px #000;
    top: -16px;
    z-index: 12;
}

@media all and (max-width: 1000px) {
    
    #slider .wrapper {
        width: 672px;
    }
    
    #slider .prev {
        margin-left: -380px;
    }
    
    #slider .next {
        margin-left: 350px;
    }
    
}

@media all and (max-width: 950px) {
    
    #app .googleplay,
    #app .appstore {
        display: none;
    }
    
    #app p {
        width: 250px;
    }
    
}

@media all and (max-width: 800px) {
    
    #social {
        display: none;
    }
    
    #intro {
        background-image: url(home/main_intro_med.png);
        height: 250px;
    }
    
    #app {
        padding-left: 0;
        padding-right: 0;
    }
    
    #app p {
        left: 0;
        width: 100%;
        text-align: center;
    }
    
    #app .phone {
        display: none;
    }
    
    #app .find {
        position: static;
        margin: 0 auto;
    }
    
    #workflow {
        width: 550px;
        text-align: center;
    }
    
    #workflow li {
        display: inline-block;
        float: none;
    }
    
    #workflow .step1 {
        margin-left: 50px;
    }
    
    #workflow .step1 .arrow {
        background-position: -276px -118px;
        height: 115px;
        right: auto;
        left: -90px;
        top: 80px;
        width: 100px;
    }
}

@media all and (max-width: 760px) {
    
    #slider .wrapper {
        width: 448px;
    }
    
    #slider .prev {
        margin-left: -250px;
    }
    
    #slider .next {
        margin-left: 220px;
    }
}

@media all and (max-width: 680px) {
    
    #slogan {
        background: none;
        text-indent: 0;
        height: auto;
        top: 100px;
        width: auto;
    }
    
    #login .email {
        display: block;
    }
    
    #login .forgot {
        padding: 0;
    }
    
    #footer {
        font-size: 12px !important;
    }
}

@media all and (max-width: 560px) {
    
    #intro {
        display: none;
    }
    
    #slider .wrapper {
        width: 224px;
    }
    
    #slider .prev {
        margin-left: -150px;
    }
    
    #slider .next {
        margin-left: 120px;
    }
    
    #workflow {
        width: auto;
    }
    
    #workflow li {
        display: block;
        margin: 0 auto !important;
    }
    
    #workflow .step1 .arrow,
    #workflow .step2 .arrow {
        background-position: -276px -233px;
        bottom: auto;
        right: auto;
        top: 185px;
        left: 50%;
        margin-left: -35px;
    }
    
    #feats li,
    #quotes li {
        border: 0;
        display: block;
        float: none;
        padding: 0 10px;
        width: auto;
    }
    
    #quotes blockquote {
        margin: 30px !important;
    }
    
    #footer .block {
        width: auto;
        float: none;
    }
}

@media all and (max-width: 500px) {
    #logo {
        left: 50%;
        margin-left: -101px;
    }
    #slogan,
    #login {
        display: none;
    }
}

.site-powered-by {
    display: none;
}

