h1 {
	color: #4e3e34;
	text-align: center;
	font-size: 30px;
	font-family: 'NeutrafaceSlab', serif;
}

.container h1 {
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#nonprofits-featured {
	box-shadow: inset 0px -11px 18px -10px #CCC;
  
  .container {
    position: relative;
  }
}

.non-profit-in-grand-rapids {
	padding: 40px;
  width: 520px;

  h1 {
    font-size: 30px; 
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  .grmodal-num {
    float: left;
    margin-right: 30px;
  }

  .grmodal-des {
    float: left;
    width: 430px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin-top: -15px;

    &[class] {
      display: table;
      position: static;
    }

    .grmodal-desin {
      position: absolute;
      top: 50%;

      &[class] {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        position: static;
      }

      h2 {
        position: relative;
        top: -50%;
        font-size: 26px;
      }
    }
  }

  .grmodal-steps {
    margin-bottom: 35px;
  }

  #grmodal-form {
    width: 300px;
    margin: 0 auto;

    input {
      width: 280px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
    }

    .btn-standart {
      text-decoration: none;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 24px;
      padding-right: 24px;
      font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -border-radius: 8px;
      text-shadow: 0px 1px 1px rgb(112,26,26);
      width: 300px;
      margin-top: 10px;
    }
  }
}

#iphone-image {
	text-align: center;
	z-index: 1;
	max-height: 328px;
}

#iphone-image img {
	width: 600px;
}

#grtab {
	position: absolute;
	right: 0;
	top: 240px;
}

#white-section {
	background-color: #f7f7f7;
	text-align: left;
  margin-bottom: -49px;
  padding-bottom: 50px;
  position: relative;
}

#white-section h1 {
	font-weight: 700;
	margin-bottom: 10px;
	color: #4e3e34;
  	text-align: left;
	font-family: 'NeutrafaceSlab', serif;
}

#white-section p {
	line-height: 23px;
	font-size: 19px;
	color: #8a857f;
	font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
}

#chatapp-image {
	height: 321px;
}

#chatapp-image img {
-moz-box-shadow: 0 0 100px 15px #fff;
	-webkit-box-shadow: 0 0 100px 15px #fff;
	box-shadow: 0 0 100px 15px #fff;
}

.grid {
	border-bottom: 2px solid #C3C3C3;
	clear: both;
	height: 200px;
	padding-top: 50px;
}

.left-section {
	float: left;
	width:403px;
}

.right-section {
	float: right;
	width: 403px;
}

.right-section img {
	position: relative;
	right: 0;
}

#nonprofits-form {
	text-align: center;
	width: 300px;
	margin: 50px auto;
}

#headline a:hover {
	text-decoration: none;
}

#nonprofits-form p {
	font-size: 14px;
	line-height: 14px;
	color: #8a857f;
  width: 300px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
}

form input {
	width: 280px;
	font-size: 16px;
	margin: 5px 0;
	color: #423f37;
}

#nonprofits-form form input {
	font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
}

.top-button {
	margin: 25px auto;
	z-index: 4;
	font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
	margin: 5px 0;
}

.btn-standart {
	width: 300px;
  height: 54px;
  font-size: 16px;
}

#quicklinks ul li {
	display: inline-block;
}

#menu-footer {
	background: url("../img/footer-menu-background.png") no-repeat center;
	height: 70px;
	box-shadow: 
        
    0px -11px 18px -10px #CCC;

}

#menu-footer ul li {
	list-style: none;
	display: inline;
	position: relative;
	top: 25px;
}

.active {
	text-decoration: underline;
}

#footer p {
	padding-top: 20px;
	font-size: 12px;
	line-height: 14px;
}

#footer ul li {
	list-style: none;
	display: inline;
}

.footer-summary {
	float: left;
	text-align: left;
	width: 300px;
	padding: 0 10px;
}

.copyright {
	display: inline-block;
	float: left;
	width: 300px;
	text-align: center;
	padding: 0 10px;
}

.copyright p {
	vertical-align: middle;
	line-height: 45px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Dejavu Sans", Verdana, sans-serif ;
}

.copyright img {
	position: relative;
	top: 3px;
}

.quicklinks {
	float: left;
	width: 300px;
	padding: 0 10px;
}

.quicklinks a {
	color: #423f37;
}

.quicklinks ul {
	height: 40px;
	line-height: 45px;
}

#quicklinks-social {
	margin-bottom: 50px;

}

#quicklinks-links a {
	font-size: 12px;
}

