#about {
	background: url(image_path('students/students-crowd.png')) center bottom no-repeat;
	background-size: 100%;
	padding-bottom: 340px; 
	margin-bottom:-235px; 
}

#students {
	display: inline-block;
	padding-top: 50px;
}

#students-intro p {
	text-align: center;
	margin-top: 20px;
	margin-left: 9%;
	margin-right: 9%;
}

#students-photos {
	display: block;
	float: left;
	width: 450px;
}

#students-steps {
	display: block;
	float: left;
	width: 450px;
	padding-top: 50px;
}

#students-steps img {
	margin-bottom: 60px
}

#students-steps p {
	margin-bottom: 110px;
	line-height: 30px;
}

#students-form {
	width: 600px;
	margin: 50px auto 100px;
	color: white;
}

#students-input {
  font-size: 24px;
	line-height: 24px;
  font-family: "pragmatica-web", sans-serif;
  font-weight: 300;
  width: 300px;
  color: #423f37;
  height: 36px; 
  margin-bottom: 10px;
}

#students-form h2 {
	color: white;
}

#students-form p {
	width: 300px;
	margin: 30px auto;
	font-style: italic; 
	line-height: 22px;
}

#students-email {
	margin-bottom: 5px;
}

#crowd {
	text-align: center;
}

#crowd h2 {
	text-align: center;
	font-weight: 500;
	font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: "NeutrafaceSlab", "Neutraface Slab", serif;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 24px;
}

#crowd p {
	text-align: center;
	font-size: 15px;
}

.menu-footer li {
	display: inline;
}

.white {
	color: white;
}

.white a {
	color: white;
}

.white a:hover {
	text-decoration: underline;
}

.menu-footer {
	margin-bottom: 30px;
}

.copyright {
	margin-bottom: 30px;
}

.payments {
	margin-bottom: 30px;
}

#students-form .submit-image {
	margin: 10px 0 10px 0;
	color: white;
	font-size: 24px;
	font-weight: 500;
	width: 400px;
	padding: 10px 0;
	border-radius: 8px;
	background-color: #b46c6d;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b46c6d), to(#a44b4c));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #b46c6d, #a44b4c);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #b46c6d, #a44b4c);

	/* IE 10 */
	background: -ms-linear-gradient(top, #b46c6d, #a44b4c);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #b46c6d, #a44b4c);
}

#students-form .submit-image:hover {
	background-color: #6c1b1b;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6c1b1b), to(#894242));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #6c1b1b, #894242);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #6c1b1b, #894242);

	/* IE 10 */
	background: -ms-linear-gradient(top, #6c1b1b, #894242);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #6c1b1b, #894242);

}

h2 {
  font-size: 24px;
  color: #4e3e34;
  text-align: center;
  font-family: "NeutrafaceSlab", "Neutraface Slab", serif;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 24px; }

.students {
  .footer-nav {
    background: none;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 rgba(0,0,0,0);

    &:after {
      -moz-box-shadow: 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent;
    }

    li {
      &:after {
        color: #fff;
      }

      a:hover, &.active a {
        color: #fff;
        border-bottom: 2px solid #fff;
      }

      a {
        color: #fff;
      }
    }
  }

  .footer-main {
    background: none;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;

    .description, .footer-social, .quicklinks {
      display: none;
    }

    .col{
      min-height: 50px;
    }

    .copyright, .secured {
      color: #fff;
    }      
  }
}
