#container
  = render :partial => 'partials/header'
  #main
    .wrapper
      %iframe{:src => "https://docs.google.com/spreadsheet/embeddedform?formkey=dHJ5enI2bC1WaFpmM1pvbEpaTGFHTXc6MQ", :width => '960', :height => '1400', :frameborder => '0', :marginheight => '0', :marginwidth => '0'} loading...