<div class="popup">
	<div class="sign-up-form">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<h2>Sign Up to be notified</h2>
			<div class="form-body">
				<div class="row">
					<a href="/users/auth/facebook" class="btn-facebook big">Log in <i class="icon-btn-facebook big"></i></a>
					<%= f.email_field :email, class: 'field extra-medium', placeholder:"email address" %>
				</div>
				<div class="row">
					<a href="/users/auth/twitter" class="btn-twitter big">Log in <i class="icon-btn-twitter big"></i></a>
					<%= f.password_field :password, class: 'field extra-medium', placeholder:"password" %>
        </div>
			</div><!-- /.form-body -->
			<div class="form-foot">
				<span class="btn-large submit">Sign In <input type="submit" value=""></span>
				<p class="form-caption">Need an account? <a href="#">Sign up</a></p>
			</div><!-- /.form-foot -->
      <%-end%>
		</form>
	</div><!-- /.sign-up notify -->
</div><!-- /.popup -->
