.popup
	= form_tag(subscribe_newsletter_path, remote: true) do
		.subscribe
			%h2 Arm yourself for the streets
			%p Enter your 10-digit US mobile number and we'll send you a download link to your phone
			.get-updates
				%label{for: 'email'}Get updates
				%fieldset
					= email_field_tag('email', '', class: 'field tall', id: 'email', placeholder: 'you@email.com')
					%span.btn-arrow.submit
						= submit_tag ''
						%i.arrow-right
