<div class="popup">
	<div class="postcard">
		<div class="card-head">
			<div class="stamp">
			</div><!-- /.stamp -->
			<div class="restaurant-info">
				<p class="rname">Restaurant Name</p>
				<p><span class="city">City</span>, <span class="state">State</span></p>
				<div class="instructions">
					We will print and hand-deliver/mail this to the restaurant. If they end up joining, we'll probably take you out for lunch! #bofo
				</div><!-- /.instructions -->
			</div><!-- /.restaurant-info -->
		</div><!-- /.card-head -->
		<div class="content">
			<div class="edit-card">
				<h5>Mail a Restaurant</h5>
				<ul class="steps">
					<li>1. Write a restaurant you like a short note.</li>
					<li>2. Add who you are and where you're from.</li>
					<li>3. Confirm, and we'll take it from there.</li>
				</ul><!-- /.steps -->
				<form action="<%= postcards_path %>" method="post" class="postcard_form">
					<h6>Your Postcard</h6>
					<div class="row">
						<input type="text" class="field small" value="" placeholder="Restaurant Name" name="postcard[restaurant_name]" data-mirror="rname"/>
					</div>
					<div class="row">
						<textarea class="field small" placeholder="Message" name="postcard[message]" data-mirror="message-text">Hey there! You guys ever hear of FoodCircles?  It'd be great to know that just be eating at your place, I'd be feeding local kids in need. Anyway, check 'em out. Love your restaurant.</textarea>
					</div>
					<div class="row">
						<input type="text" class="field small" value="" placeholder="Your Name" name="postcard[user_name]" data-mirror="username"/>
					</div>
					<div class="row location">
						<input type="text" class="field small" value="" placeholder="City" name="postcard[city]" data-mirror="city"/>
						<input type="text" class="field small" value="" placeholder="State" name="postcard[state]" data-mirror="state"/>
					</div>
					<span class="btn-mini-med submit light-shadow">
						Done
						<input type="submit" value="#" />
					</span>
				</form>
			</div><!-- /.edit-card -->
			<div class="complete-card">
				<h4>Hey <span class="rname"></span>!</h4>
				<div class="message-body">
					<div class="note">
						<div class="n-inner">
							<div class="n-i-inner message-text">
							</div><!-- /.n-i-inner -->
						</div><!-- /.n-inner -->
					</div><!-- /.note -->
					<a href="#" class="edit">edit</a>
					<div class="sign">
						<h4 class="username"></h4>
						<small><span class="city"></span>, <span class="state"></span></small>
					</div><!-- /.sign -->
				</div><!-- /.message-body -->
			</div><!-- /.complete-card -->
		</div><!-- /.content -->
		<a href="#" class="btn-mini-med light-shadow send-message">Send</a>
			
		<div class="thank">
			<h2>Thanks for your help!</h2>
			<p class="message"></p>
			<div class="share-card">
				<small>Share Your Postcard</small>
				<a href="#" class="icon-facebook-big"></a>
				<a href="#" class="icon-twitter-big"></a>
			</div><!-- /.share-card -->
			
			<a href="#" class="close-popup">close to browse restaurants</a>
		</div><!-- /.thank -->
	</div><!-- /.postcard -->
</div><!-- /.popup -->/div><!-- /.popup -->